[2014-04-26 19:24] zcorpan commented on #166
To support functions with commas, how about collecting characters until you hit a space character to gather the URL, and then collect component values until you hit a comma-token to gather the descriptors?

[2014-04-26 19:27] zcorpan commented on #166
About trailing comma in the URL, I don't disagree that it seems a bit weird, but what can we do about it? I don't see a sane way to change the parsing to somehow make it consistent. As for authoring conformance, "foo,, bar" is already invalid because the URL ends with a comma. http://picture.responsiveimages.org/#image-candidate-string

[2014-04-26 19:31] zcorpan commented on #166
Maybe we could stip off all trailing commas instead of just the last one?

[2014-04-27 18:30] tabatkins commented on #166
We can't use the "consume a component value" algo unless we're using CSS tokenizing, which we can't do because URLs are extra-magic (we can't even do some special-cased CSS tokenizer, because a URL looks like _everything_, so you can't do independent tokenization).  We'll have to hand-roll ()[]{} tracking, which isn't hard, but is annoying.

And yes, I think we should strip off all trailing commas

[2014-04-27 18:38] tabatkins commented on #165
Ah, hm, that's true.  I guess it's not a huge deal then, but in that case I'd like to add a note somewhere about that.  I'll assign this bug to myself to add one.

[2014-04-28 04:27] zcorpan commented on #166
Do we need really [] {} or is it enough with ()?

[2014-04-29 02:57] tabatkins commented on #166
Might as well be fully forward-compatible-equivalent with CSS.  Tracking all three is only a tiny bit more complicated than tracking just one; you have to use a character stack rather than a nesting counter.

[2014-04-30 08:01] zcorpan commented on #161
Should we resolve this to keep the status quo? It seems we haven't come up with anything obviously better yet.

[2014-04-30 14:51] yoavweiss commented on #161
@zcorpan - I think so, since there's no significantly better alternative.
If anyone has a bright idea, feel free to re-open.

[2014-04-30 14:51] #161 closed, assigned to nobody

[2014-05-01 20:45] yoavweiss opened #167 "Forbidding non-source children above img"
I've been thinking about the handling of picture's selection algo in the preloader (where we have no DOM tree), and it seems like current algo would require me to maintain a stack of previously seen source URLs, for cases like:

[code]

Since I don't think this is something we should actively support (no one should use picture that way), I think we can change the selection algorithm to exit if it

[2014-05-01 20:49] yoavweiss opened #168 "Should insertion of children elements into picture trigger source selection in existing children?"
e.g. if a source element was added as a first child to

[code]

the `<img>` should re-run its source selection algorithm, right?

If so, I think we need to define it.

[2014-05-01 21:14] tabatkins commented on #167
This sounds completely fine to me, but as zcorpan noted, it means more monitoring of changes for the <img>, as a previously-valid <img> might be invalidated by you inserting any element before it.

If you're fine with that, I am too.

[2014-05-01 21:20] yoavweiss commented on #167
I think that even without this change we'd need to re-run children `img` selection algo when other children are added to the parent (see https://github.com/ResponsiveImagesCG/picture-element/issues/168), as they may be `<source>` elements and impact the selected source.

Since this would significantly lower preloader-time complexity, I think it's well worth changing it.

[2014-05-02 08:28] zcorpan commented on #168
It's defined already.

http://picture.responsiveimages.org/#relevant-mutations
http://picture.responsiveimages.org/#issue-58bdc3bf

[2014-05-02 08:30] zcorpan commented on #167
You can exit in the preloader when seeing something that's not `source` or `img` -- it will only fail to preload images with invalid markup, which seems OK. But I don't think we should change the spec's algorithm here because I've seen e.g. `<br>`s between `<source>`s in `<video>` (IIRC some blog software being "smart" and converting newlines to `<br>`), and I think it would be bad not to support

[2014-05-02 08:42] yoavweiss commented on #167
I'd really hate to have the preloaded ignore resources within invalid
markup. Maybe exit the algorithm when one of the children is picture? (So
allow brs but prevent nested picture elements)
On May 2, 2014 10:31 AM, "Simon Pieters" notifications@github.com wrote:

[2014-05-02 09:06] yoavweiss commented on #168
Somehow missed it. Thanks!
On May 2, 2014 10:28 AM, "Simon Pieters" notifications@github.com wrote:

[2014-05-02 09:25] zcorpan commented on #167
It wouldn't help you with `<picture><video><source>` or `<picture><p><source>`. But I guess you could let through any of the void elements. http://www.whatwg.org/specs/web-apps/current-work/multipage/the-end.html#serializing-html-fragments has a list (area, base, basefont, bgsound, br, col, embed, frame, hr, img, input, keygen, link, menuitem, meta, param, source, track or wbr)

[2014-05-02 09:30] zcorpan commented on #167
OTOH, if you do preload a URL that turns out to be a wasted fetch, that's not the end of the world, either, and happens already if a script does a `document.write` that changes the meaning of the following markup. It might also already be possible to trick the preload scanner with weird markup like `<svg><style/></svg><img>` or some such.

[2014-05-02 09:31] #168 closed, assigned to nobody

[2014-05-02 11:40] yoavweiss commented on #167
`<picture><source><video><source></video><img></picture>` doesn't bother me all that much from a preloader perspective, but e.g. `<picture><source><div><picture><source><img></picture></div><img></picture>` would...
So, you're right, we can forbid anything without a self closing tag. I think that'd be best.

I know, but it's not ideal, and since there's no reason to allow nested elements inside pi

[2014-05-02 12:00] zcorpan commented on #167
OK, so no change to the spec here?

[2014-05-02 12:32] yoavweiss commented on #167
On the contrary. I would like to see a spec change (unless you think it bares further complications):
-  Changing step 3.2 of "updating the source set" to be something like "if child is not a void element, exit this algorithm".
- Add to the mutation events an event stating that an addition of a non void element as a previous sibling also triggers a source update.

[2014-05-02 12:50] nwtn opened #170 "Default styles for non-img children of picture"
I think we should add a note (@tabatkins indicated a non-normative note is typical) with suggested styling for non-`img` children of `picture`. If we add some styles that visually hide these children, but still expose them to screenreaders and other AT, it could provide better accessibility options than `alt` alone.

E.g.

[code]

The default styles could be something similar to what [HTML5 Boiler

[2014-05-02 12:54] nwtn opened #171 "Note about image maps"
As [discussed on IRC](http://ircbot.responsiveimages.org/bot/log/respimg/2014-04-11#T64605), I think we should add a note indicating that image maps (`usemap` and `ismap` on `img`) with art direction are a Bad Idea™. I'll do a PR for this shortly.

[2014-05-02 21:00] Wilto commented on #167
I’m for forbidding non-void children here, based on a read through the thread—I think it’s a safer bet to start with the simplest case (disallowing crazy nesting or unrelated elements in `picture`), and reconsider if anyone comes along with a compelling case _for_ nesting and whatnot.

Side-note: Picturefill is using a `video` inside `picture` (in an IE9-only conditional comment) to prevent IE9 fr

[2014-05-02 21:29] yoavweiss commented on #167
On second thought, my proposal is not ideal, in the sense that multiple `img` element, or element that follow invalid nesting would "disappear". That's likely to be confusing ("where the F**\* did that image go?").

A better alternative might be to detect non-void children, and if encountered, let the `<img>` that initiated the source selection ('el') just load its own srcset or src.

That way, if

[2014-05-02 21:36] Wilto commented on #167
Ah, I think I misread—I assumed that breaking out of the selection algo meant that the remaining `img` would do their own thing as usual. That’s definitely what I’d expect, authorship-wise.

[2014-05-05 10:36] zcorpan commented on #167
That seems bad for future extensions. We wouldn't be able to introduce a new element and put it into `<picture>` (before the `<img>`), e.g. like `<video>` did with `<track>`.

[2014-05-05 11:02] yoavweiss commented on #167
Do we expect such extensions to be introduced and impact source selection
(otherwise they can be placed after the 'img')?
Do you think this possible extensibility is worth the extra implementation
complexity?
On May 5, 2014 12:36 PM, "Simon Pieters" notifications@github.com wrote:

[2014-05-05 11:45] zcorpan commented on #167
I don't want to close the door on introducing elements before the `img`, whether the new thing impacts source selection or not.

I don't see the proposed change as being a clear-cut simplification in implementation complexity. See https://github.com/ResponsiveImagesCG/picture-element/issues/165#issuecomment-41477744

Also, if I understand correctly, the current spec is only complex for you in the

[2014-05-05 11:49] zcorpan commented on #167
Also I disagree with the premise that the prescanner needs to have 100% fidelity. (It already doesn't.)

[2014-05-05 13:19] zcorpan commented on #170
Default rendering is defined in HTML's rendering section.

The suggestion here would have bad rendering in legacy UAs, they would get both the image and the table.

How would you make the table show up when the image shows its fallback content?

Alternatively, if you only care about AT, why not use `aria-describedby` instead?

[2014-05-05 13:21] zcorpan commented on #170
The suggested styling also fails for text without elements.
`<picture><img ...> foo </picture>`

[2014-05-05 16:09] zcorpan opened #172 "Content model should allow intermixed script-supporting elements"
The HTML spec allows `script` and `template` basically anywhere. `picture` should allow that also, saying ", optionally intermixed with script-supporting elements." at the end of the content model.

[2014-05-05 17:45] nwtn commented on #170
I agree with @zcorpan's points above. After a discussion on IRC, I'm ready to close this issue out.

Basically:
- this type of content is better off being _outside_ of `picture`, but associated with the `img` using something like `aria-describedby` or a `figcaption`
- if authors choose to include non-`img` content under `picture` (but after `img`), it will be invalid, but (for now) won't break any

[2014-05-05 17:45] #170 closed, assigned to nobody

[2014-05-05 17:53] tabatkins commented on #172
Fixed, thanks.

[2014-05-05 17:53] #172 closed, assigned to nobody

[2014-05-05 17:59] zcorpan commented on #167
c.f. https://github.com/ResponsiveImagesCG/picture-element/issues/172

[2014-05-05 21:05] yoavweiss commented on #167
I agree that script/template should be allowed. Closing.

[2014-05-05 21:05] #167 closed, assigned to nobody

[2014-05-12 12:04] zcorpan opened #174 "Add the "Adaptive images" examples from the HTML spec with new syntax"
https://www.w3.org/Bugs/Public/show_bug.cgi?id=25585#c4

[2014-05-16 21:28] cbiesinger commented on #157
I have a blink patch that implements this such that a change in something that affects media queries will rerun the source selection algorithm - https://codereview.chromium.org/287163010/

[2014-05-17 14:54] yoavweiss commented on #166
Where do we stand on this issue?

[2014-05-17 15:02] yoavweiss opened #175 "Thoughts on shipping sizes & srcset 'w'?"
Assuming that the [absolute currentSrc](https://codereview.chromium.org/290803002/) change will land soon, the work on sizes/srcset seems to be done.

Do we envision any backward incomaptible changes to the spec in these areas?

If not, does anyone object that I'd try to ship the feature in Chrome 37? (So that it'd hit stable mid-August)

[2014-05-17 16:44] zcorpan commented on #175
https://github.com/ResponsiveImagesCG/picture-element/issues?labels=behavior-change&page=1&state=open I see #166 and #152

[2014-05-19 03:50] zcorpan opened #176 "srcset parser should look for 'h' descriptors"
Since we anticipate adding a `h` descriptor in the future (#85 #86) I think we should make the parser do the right thing now so that we don't get into a situation where Web compat expects `2x 100h` to not drop the entire candidate (like we currently do with `2x 100w`).

Step 12, add/change
[[
...
Let future-compat-h be absent.
...
(for "x" token)
If width, future-compat-h and density are not all a

[2014-05-19 03:55] zcorpan commented on #166
Can't we go with the simplest thing to support commas in functions? Just have a boolean flag that gets set when seeing `(` and unset when seeing `)`, then ignore `,` while the flag is set. Or do you envision nesting functions @tabatkins ?

[2014-05-19 08:13] yoavweiss commented on #176
Doesn't that mean that we need to be able to predict whatever descriptors we may want to add in the future?

[2014-05-20 07:11] zcorpan commented on #176
No, we just predict that `h` is likely to be added in the future and that it's likely we want it to have the same parsing behavior as `w`. For anything else we don't know anything and the default behavior of dropping unknown descriptors seems reasonable to me.

[2014-05-20 08:26] yoavweiss commented on #175
If we want to try to ship sizes+srcsetW at Chrome 37, we need to finalize these issues by the end of month (give or take a few days).

[2014-05-20 08:29] yoavweiss commented on #166
:+1: to keeping it simple

[2014-05-20 08:35] yoavweiss commented on #152
Do we have a decision here? @zcorpan & @tabatkins, what do you guys want to do here?

[2014-05-21 03:22] zcorpan commented on #152
I'm OK with making it async in the scripted case. In the HTML parser case we should probably do the selection sync when the `img` is inserted into its parent so that it performs well. I think this one requires a bit of surgery to the HTML spec to do it right.

[2014-05-21 07:39] #166 closed, assigned to zcorpan

[2014-05-21 07:40] #176 closed, assigned to nobody

[2014-05-21 07:42] yoavweiss commented on #175
1 down, 1 to go... :)

[2014-05-21 19:51] zcorpan opened #180 "Should parse foo( ... ) with spaces as one descriptor"
"Let descriptor list be the result of splitting unparsed descriptors on spaces."

I think this isn't quite what we want. Right now it only makes a difference if you do something like `foo( 2x )` which gets interpreted as 3 descriptors and `2x` is picked up.

[2014-05-22 16:29] zcorpan opened #182 "Remove leading comma in URL?"
We're now trimming off trailing commas in URLs in srcset, but should we do that in the beginning also?

srcset=",foo 2x, ,bar"

Do we want the URLs to be "foo" and "bar" or ",foo" and ",bar"?

If we want the former, the fix is easy; instead of "skip whitespace" at the start of the splitting loop, we say "collect a sequence of characters that are space characters or commas".

[2014-05-22 16:32] zcorpan opened #183 "Negative 'x' descriptors"
I noticed that the srcset parser seems to happily accept negative x descriptors. I guess we should set "error" to "yes" in that case?

[2014-05-22 16:34] yoavweiss commented on #183
Yes, definitely
On May 22, 2014 6:32 PM, "Simon Pieters" notifications@github.com wrote:

[2014-05-22 16:43] Wilto commented on #183
Picturefill and (I think) @yoavweiss’ native stuff behaves this way, yeah?

[2014-05-22 16:50] yoavweiss commented on #183
The implementation in Blink treats negative x descriptors as invalid.

On Thu, May 22, 2014 at 6:43 PM, Mat Marquis notifications@github.comwrote:

[2014-05-23 09:03] #180 closed, assigned to zcorpan

[2014-05-23 09:14] yoavweiss commented on #182
Most definitely the former

[2014-05-23 09:21] #182 closed, assigned to nobody

[2014-05-23 09:49] #183 closed, assigned to nobody

[2014-05-23 13:47] yoavweiss opened #186 "Add a label to the descriptor tokenization algorithm"
In http://picture.responsiveimages.org/#parse-srcset-attr after "Otherwise, follow these substeps" it'd be nice to add a label that would help refer to this algorithm (e.g. from the functions implementing it).
"tokenize descriptors" would be a good, solid label. Just sayin'.

[2014-05-23 13:52] yoavweiss opened #187 "Parse the descriptors before creating the image candidates list"
The algorithm in http://picture.responsiveimages.org/#parse-srcset-attr describes the descriptor parsing as happening after the entire attribute was processed.
Since that requires copying lists of descriptors around, a black box equivalent that is easier to implement would be to parse the descriptors after their tokenization, and associate the results to the image candidates.
It'd be nice if we co

[2014-05-25 05:41] yoavweiss opened #188 "Default density?"
I might be missing it, but I can't find anywhere in http://picture.responsiveimages.org/#parse-srcset-attr where the default density of 1.0 is defined when density and width are missing.

[2014-05-25 06:14] yoavweiss opened #189 "Avoid a state machine dance"
In http://picture.responsiveimages.org/#parse-srcset-attr step 8, if the URL doesn't end with a comma, position is on a space.
If we do not advance position to the next char, when we enter the state machine we pass from "start" to "aftertoken" and then to "start" again.
We can avoid it by adding an "advance position to the next char" before going into the state machine there.

[2014-05-25 07:41] yoavweiss opened #190 "Special case candidates with no descriptors?"
In current srcset implementation, the handling of candidates with invalid descriptors (e.g. "1x.gif 1q" is different than the handling of candidates with no descriptors (e.g. "1x.gif"). Candidates with only invalid descriptors are ignored, rather than picked as candidates with default density.

I inherited this behavior from the early WebKit implementation, and since it was backed up by tests, I a

[2014-05-26 04:20] zcorpan commented on #188
http://picture.responsiveimages.org/#normalize-source-densities

[2014-05-26 06:52] yoavweiss commented on #188
Right. Apologies for being daft

[2014-05-26 06:52] #188 closed, assigned to nobody

[2014-05-26 08:48] zcorpan commented on #190
I think we should keep the spec as is. It seems better for future extensions.

[2014-05-26 09:01] #190 closed, assigned to nobody

[2014-05-26 09:49] zcorpan opened #191 "Should 0x descriptor be allowed for authors or not?"
Currently 0x gets parsed OK but authors must use something greater than 0. We've resolved on the parsing behavior already, this bug is just about authoring conformance.

@tabatkins WDYT, is it fine to be different here or do you want the rules to match up?

[2014-05-27 00:31] tabatkins commented on #191
I am absolutely fine (strongly in favor, even) of authoring conformance criteria mandating things for authors that are different from the conformance criteria for implementors.  We have to spec all kinds of weird things to handle legacy or edge-case behavior that has no relevance to authors, and in fact would be a bad idea for them to try and deal with.  Using conformance criteria as a clear signa

[2014-05-27 00:31] #191 closed, assigned to nobody

[2014-05-27 08:25] zcorpan opened #192 "Avoid doing things when crossorigin changes but doesn't change state"
bz wants `img.crossOrigin = img.crossOrigin` to not run "update the image data" in

https://www.w3.org/Bugs/Public/show_bug.cgi?id=24958#c1

Since crossOrigin is "enumerated to only known values" and returns "anonymous" when the actual value is the empty string, that code would change the attribute's value but would not change the attribute's state (empty string and "anonymous" both map to the Ano

[2014-05-27 08:50] #152 closed, assigned to zcorpan

[2014-05-27 08:57] zcorpan commented on #155
@yoavweiss and I discussed this a bit on IRC today. For environment change case, we probably want to wait with updating currentSrc until the task that fires the "load" event, since it's supposed to be transparent if the load fails. So possibly we should just make currentSrc always update at the same time as we fire "load" (or change the image to the broken state).

`<video>` changes currentSrc at

[2014-05-29 00:17] Wilto opened #194 "Expand on “Relationship to `srcset`” section"
Thinking I should add a little bit to the last line of http://picture.responsiveimages.org/#relationship-to-srcset. I know the W3C `srcset` doc is gonna end up getting replaced after we merge our stuff into the WHATWG spec, but there’s still a lot of confusion about which is which for right now.

Worth doing, we think?

[2014-05-29 12:55] nwtn commented on #194
+1
i've seen a lot of confusion about this. even if it's temporary, i think it could help ease the transition.

[2014-06-02 08:02] yoavweiss commented on #155
@zcorpan - Since no one seems to have a strong opinion on the matter, I think we should spec the behavior to the one you suggested, with currentSrc updated right before the load event fires (so that it can be examined from inside the load event).

I'll start working on a patch that makes that change in the Blink implementation.

[2014-06-02 14:31] yoavweiss commented on #175
Since both these issues are now closed, I intend to send an "intent to ship" in the next few days, unless anyone has string objections. If someone does, please re-open.

[2014-06-02 14:31] #175 closed, assigned to nobody

[2014-06-02 14:37] Wilto commented on #175
![](http://yodaismybackpack.files.wordpress.com/2013/02/engage.gif)

[2014-06-02 19:51] zcorpan commented on #194
Sure. The srcset spec is actually going to be a subset of the picture spec.

[2014-06-02 20:04] Wilto commented on #194
Just got an update from @zcorpan on IRC: http://ircbot.responsiveimages.org/bot/log/respimg/2014-06-02#T74145

@hober, you got a rough timeline in mind? Trying to figure out whether it’s worth writing a little something to clarify, here. Also, does this mean we should work on breaking the `srcset` sections of picture.responsiveimages.org into a stand-alone document? I can get started on that whene

[2014-06-02 21:27] hober commented on #194
I told the chairs I'd get to it after WWDC, so hopefully during the week of 9 June.

[2014-06-03 07:03] #192 closed, assigned to nobody

[2014-06-05 09:56] zcorpan opened #195 "Authoring conformance, ban urls starting with a comma"
"A valid non-empty URL that does not end with a U+002C COMMA character (,), referencing a non-interactive, optionally animated, image resource that is neither paged nor scripted."

Since we made the srcset parser skip past leading commas, the author-allowed syntax should ban that also.

[2014-06-05 10:42] zcorpan opened #196 "Authoring conformance, ban 0w"
The srcset parser drops 0w candidates but the authoring requirement is

"A width descriptor, consisting of: a space character, a valid non-negative integer representing the width descriptor value, and a U+0077 LATIN SMALL LETTER W character."

[2014-06-05 11:03] zcorpan opened #197 "Authoring conformance, require unique descriptors"
Old srcset spec has this:

"Each image candidate string must have at least one of the three optional descriptors. There must not be two image candidate strings in a srcset attribute whose width descriptor value, height descriptor value, and pixel density descriptor value are each identical to their counterpart in the other image candidate string; for the purposes of this requirement, omitted width

[2014-06-05 11:33] zcorpan opened #198 "Drag and drop <img> with a <picture> parent"
Should we make dragging an `<img>` with a `<picture>` parent actually drag the `<picture>`? `<img>`s are draggable by default so if you want to make `<picture>` draggable today you'd have to specify draggable=true on the picture _and_ draggable=false on the `<img>`.

http://software.hixie.ch/utilities/js/live-dom-viewer/saved/3053 - contenteditable (the picture gets dropped in Chrome)

http://www.

[2014-06-05 11:43] zcorpan commented on #198
Maybe change:

[[
Otherwise, the element's draggable content attribute has the state auto. If the element is an img element, an object element that represents an image, or an a element with an href content attribute, the draggable IDL attribute must return true; otherwise, the draggable IDL attribute must return false.
]]

to

[[
Otherwise, the element's draggable content attribute has the state a

[2014-06-05 11:45] attiks commented on #50
@Wilto Any change this can be reconsidered, the reflow is bugging a lot of people, or will this be fixed when it is natively implemented?

/cc @yoavweiss

[2014-06-05 12:41] zcorpan opened #199 "Authoring conformance, simplify <source media> check"
"A media attribute specified with a value that is not defined to always evaluate to true for all devices (e.g. all or variations thereof). [MEDIAQ]"

This is intended to catch mistakes of cargo-cult using media=all or omitting the media attribute and expecting subsequent `source`s to still be evaluated, but it's not super-obvious how to implement this check in a validator, and we don't really need

[2014-06-05 12:51] zcorpan commented on #155
The default value should also be the empty string instead of null, for consistency with video currentSrc.

[2014-06-05 18:30] Wilto commented on #194
Ref. 194f19d400b2d6e8bb98dace49a595d8c067097f; leaving this issue open until we update the W3C version.

[2014-06-05 21:03] Wilto opened #202 "Examples 4 and 5 should use `img`"
Some IRC feedback from @derekjohnson: http://ircbot.responsiveimages.org/bot/log/respimg/2014-06-05#T74853

[Example 4](http://picture.responsiveimages.org/#example-4) and [example 5](http://picture.responsiveimages.org/#example-5) should rightfully be using `img`, seeing as there’s a single `source` element in play. We _should_ probably mention that these examples will work on `source` as well, b

[2014-06-05 21:54] yoavweiss commented on #50
We've discussed resolving the reflows in https://github.com/ResponsiveImagesCG/picture-element/issues/85.

[2014-06-06 06:52] zcorpan commented on #50
Yeah this is a dup of #85 AFAICT. For now you have to use CSS (with media queries if necessary) to set the right dimensions on the `img` before the image has loaded.

[2014-06-06 06:52] #50 closed, assigned to nobody

[2014-06-06 08:24] #195 closed, assigned to zcorpan

[2014-06-06 08:24] #196 closed, assigned to zcorpan

[2014-06-06 08:24] #197 closed, assigned to nobody

[2014-06-06 08:24] #199 closed, assigned to zcorpan

[2014-06-09 09:33] mathiasbynens commented on #198
The suggested change seems more sensible and much less surprising for web developers. SGTM.

[2014-06-09 10:30] zcorpan commented on #198
So the proposed change would work fine for valid cases but might get confusing results if a page does something stupid like wrap the whole page in `<picture>` which would make the whole page draggable (this could reasonably happen if you typoed the end tag). However I can't come up with a sane way to solve that.

[2014-06-09 10:53] mathiasbynens commented on #198
It makes sense to optimize for the common case, not the stupid case.

[2014-06-09 20:29] Wilto commented on #198
Took a little thinking to come around to it, but I’m with you guys on this one. No ideas on how to deal with the “`picture` left open” case, though.

[2014-06-09 20:58] jonathantneal commented on #198
This situation is very similar to how developers used `<object>` and `<p>` within `<video>` and `<canvas>` elements.

Within `<picture>`, `<img>` is fallback content. I’m told it’s required fallback content, at that.

Fallback content is contextual and dependent on its parent, so I would expect any selection of `<img>` to actually select `<picture>`.

[2014-06-09 21:11] tabatkins commented on #198
Well, no, `<img>` isn't fallback content.  It was in the misty past, but now `<img>` is the thing that's actually displayed at all times; the `<picture>` is just a controller for the contained `<img>`, not something which displays on its own and has "fallback".

But still, the `<img>` _is_ intimately connected with its `<picture>` parent, so your point stands.

[2014-06-09 21:19] jonathantneal commented on #198
Thanks for the education, @tabatkins.

[2014-06-09 22:50] #202 closed, assigned to Wilto

[2014-06-09 23:19] #171 closed, assigned to nwtn

[2014-06-09 23:31] #165 closed, assigned to tabatkins

[2014-06-09 23:35] zcorpan opened #210 "Add type() descriptor to srcset"
@tabatkins sayeth thus

[2014-06-09 23:50] zcorpan commented on #210
So instead of

[code]

You want to do this:

[code]

?

[2014-06-09 23:53] eeeps commented on #210
First `type` match wins, or is there a browser-specific preferred, ordered list of handle-able types, or...?

[2014-06-09 23:59] eeeps commented on #210
Given the "browser decides" nature of `srcset`, I'd be 100% behind the browser picking the type to use... if you, the author want to impose your own agenda, use `picture` & `source type`.

[2014-06-10 12:42] Wilto commented on #194
Check that; filing a new issue for updating the W3C fork.

[2014-06-10 12:42] #194 closed, assigned to Wilto

[2014-06-10 12:48] Wilto opened #214 "Update W3C `srcset` doc"
http://www.w3.org/html/wg/drafts/srcset/w3c-srcset/ is still out there causing confusion, but the process-wheels for getting it replaced are already a-turnin’. Filing this just so we can keep tabs on things.

+@hober

[2014-06-10 12:50] Wilto commented on #174
Think I can grab this today.

[2014-06-10 13:25] Wilto commented on #214
Ref. 3c4933109722b29064bf6e28df14604af7f8841b

[2014-06-10 14:53] zcorpan commented on #174
I intended to do this for the `source` file FWIW

[2014-06-13 06:20] zcorpan opened #215 "editorial: explain why srcset parser supports multiple descriptors"
@sideshowbarker sayeth

[2014-06-13 08:06] sideshowbarker opened #216 "Make the srcset and sizes parsing algorithms define parse errors"
Please consider refining the "Parsing a srcset Attribute" and "Parsing a sizes Attribute" to define "parse errors"—similar to the way the URL spec defines such errors:

http://url.spec.whatwg.org/#parse-error
"A parse error indicates a non-fatal mismatch between input and requirements. User agents are encouraged to expose parse errors somehow. "

So in the case of the <picture> spec, each parse-er

[2014-06-15 13:53] sideshowbarker commented on #215
while you're at it you might want to also add a note explaining why the srcset parser allows characters in parens

[2014-06-16 05:19] zcorpan commented on #198
This change screwed up the drag store, and fixing that seems like it will be a source of bugs. So I think it's better to revert the change here.
https://www.w3.org/Bugs/Public/show_bug.cgi?id=26024

[2014-06-16 06:25] zcorpan commented on #155
Upon further consideration I think the best thing would be to update currentSrc when the new image is swapped in (which is when the dimensions are available), so that it's in sync with the image being rendered and with .width .height .naturalWidth .naturalHeight.

[2014-06-16 07:17] yoavweiss commented on #155
I guess that makes sense. That way currentSrc will be aligned with the image displayed to the user, rather than the image that is going to be displayed to the user.

[2014-06-16 12:49] #155 closed, assigned to zcorpan

[2014-06-16 12:51] #198 closed, assigned to nobody

[2014-06-16 13:58] yoavweiss commented on #155
Can we have a link to the definition of "current request"? I'm having trouble finding it.
I'd also like to link to "currentSrc should be exposed only after the image dimensions are known" from the code that does that. Is it the "current request" definition?

[2014-06-17 06:53] zcorpan commented on #155
@Hixie hasn't synced yet so I guess that's why you don't find it. :-)

Technically it's "update the image data" and the "environment changes" that modify or swap out the "current request".

[2014-06-19 06:52] yoavweiss opened #217 "Avoid adding empty `src` to source set"
As pointed out by @zcorpan on IRC, we add empty src attributes to the source set in http://www.whatwg.org/specs/web-apps/current-work/multipage/edits.html#update-the-source-set
We should probably add a "and the src attribute value contains non-whitespace codepoints" or something of that sort to the list of conditions in 3.1.3

[2014-06-19 08:11] zcorpan commented on #217
https://github.com/ResponsiveImagesCG/picture-element/commit/6afa5399d95657fd313fb4863eb7f2f74eac6711

[2014-06-19 08:11] #217 closed, assigned to nobody

[2014-06-19 08:13] zcorpan commented on #217
`<img src=" ">` is not ignored, only the empty string. ("Please leave your sense of logic at the door, thanks!")

[2014-06-19 08:15] yoavweiss commented on #217
Oh, OK... That's surprising

On Thu, Jun 19, 2014 at 10:13 AM, Simon Pieters notifications@github.com
wrote:

[2014-06-22 13:19] zcorpan opened #219 "Specify UA behavior when multiple candidates have same descriptors?"
I think it's currently up to the UA what to do when you have e.g. `srcset="foo 2x, bar 2x"`

[2014-06-22 13:34] yoavweiss commented on #219
Why is it important to specify it? Is there some compatibility concern around that?

Current Blink/WebKit impl will pick the first one, since it stable sorts the candidates according to their normalized density

[2014-06-22 13:59] zcorpan commented on #219
It just seems unnecessary to leave a choice here. (The risk is that another browser will instead pick the last one and then some high-profile site starts relying on that and you have to change to do that instead, or vice versa.)

[2014-06-22 16:01] yoavweiss commented on #219
OK. Does the current "pick the first one" approach makes sense? (I wonder
what Gecko does here)
On Jun 22, 2014 3:59 PM, "Simon Pieters" notifications@github.com wrote:

[2014-06-22 18:03] tabatkins commented on #219
Makes as much sense as any other option, I think.

[2014-06-23 06:38] zcorpan commented on #219
Makes sense to me. We could drop candidates when parsing srcset maybe.

[2014-06-25 07:14] zcorpan commented on #219
More important is probably future compat. When we add new descriptors it should be reliable which candidate gets selected by legacy UAs.

[2014-06-25 08:25] stevefaulkner opened #220 "feedback on empty alt used in some examples"
a bug was filed on the HTML spec once picture was folded in https://www.w3.org/Bugs/Public/show_bug.cgi?id=26160

The example in question is the first one at http://www.w3.org/html/wg/drafts/html/master/embedded-content.html#introduction-0
advice on how to mark up a similar example can be found here http://www.w3.org/html/wg/drafts/html/master/embedded-content.html#images-that-enhance-the-themes-o

[2014-06-25 08:37] stevefaulkner opened #221 "picture acc mapping"
For the purposes of mapping to the acc layer picture has been specified with a implicit semantic of no role [1], which means there is no default role.
This is the same mapping used for other elements that don't expose any UI. It is expected that UAs will simply not expose the element in the accessibility tree. I checked The chrome canary implementation and this is the case. I will check other impl

[2014-06-25 08:43] stevefaulkner opened #222 "adding alt text advice to img section when picture used"
I am planning to add an example(s) of appropriate alt text for an img inside picture to the HTML spec http://www.w3.org/html/wg/drafts/html/master/embedded-content.html#alt

In most cases i consider it will be follow advice for appropriate alt as if the picture element was not there. but it may be in some cases that through art direction the information contained in the image changes?
any input we

[2014-06-25 09:04] yoavweiss commented on #222
A few example sites for art-direction (At least used to be...) :
worldwildlife.org
theclymb.com
supercell.net
pocket-lint.com
mindbodyonline.com
lorealparisusa.com
leapmotion.com

[2014-06-25 09:28] yoavweiss opened #223 "currentSrc and data URIs"
When setting a srcset attribute with data URI, should the currentSrc value be set in a synchronous manner?
If so, such a technique can be used for future feature detection once we add further descriptors to srcset. On the other hand, such feature detection would require some assumptions regarding the srcset selection algo (which we tell devs they shouldn't be making any).

[2014-06-25 13:53] marcoscaceres commented on #223
If currentSrc just reflects the chosen src (irrespective of URL scheme), then it should be fine to do it sync IMO.

[2014-06-25 19:39] yoavweiss commented on #157
Discussing this on #blink, the question of timing for triggering these requests came up.
Do we want to define a particular time in which these requests need to be sent?

We discussed waiting for layout (which happens at RAF in Blink), and possibly even waiting for the next RAF.

Also - do you think that the spec should define what happens with "intermediate" breakpoints (e.g. if we have 3 breakpoi

[2014-06-25 20:53] tabatkins commented on #222
So far, our thought is that the cases where alt needs to change are rare enough that we don't need to deal with it; the vast majority of art-direction doesn't change the nature of the picture sufficiently to justify different text.

[2014-06-25 20:54] tabatkins commented on #157
We don't define precisely when browsers should reevaluate MQs in CSS; we assume that browsers will do so "promptly", and will skip over changes that only happen transiently between evaluation points.

[2014-06-25 23:34] tabatkins commented on #221
Sounds correct to me. Reopen if you find anything that needs further discussion, I guess.

[2014-06-25 23:34] #221 closed, assigned to nobody

[2014-06-26 12:37] paciellogroup commented on #222
have added advice and example to spec http://www.w3.org/html/wg/drafts/html/master/embedded-content.html#an-image-in-a-picture-element feedback welcome!

[2014-06-26 18:44] marcoscaceres commented on #222
I would go with:

The picture element is just a container for an img element and a set of source elements, so it has no associated semantics (beyond being a container!). It also doesn't itself provide you with any means to include alternative text. As such, always provide a suitable text alternative to the mandatory img element by either using the img's alt attribute or, if it's contained inside a

[2014-06-26 19:23] paciellogroup commented on #222
@marcoscaceres thanks, will wordsmith some.

[2014-06-26 21:51] yoavweiss opened #224 "Support `src` on `<source>`"
Doing a couple of workshops explaining the whole picture thing to devs, I got a bunch of dropped jaws when explaining that `<source src>` will get ignored.
It seems like a decision we might regret once this thing hits the wild.

What were the reasons we didn't support it? Can we add support for that to the source selection algo?

[2014-06-26 21:55] tabatkins commented on #224
We didn't support it because it's useless; we only support `<img src>` because it already exists and works well as a back-compat hack.

What possible reason would they have to use `<source src>`?  Saving a few characters if they're using `<source>` solely for `media`/`type`?

[2014-06-26 21:59] yoavweiss commented on #224
There is no reason to use `<source src>` outside the fact that it'd be probably a very common mistake people will do. Since they are used to `<img src>` and `<source src>`, I think that most people would just assume that it should work, and won't understand why it doesn't when it silently fails.

[2014-06-26 22:03] nwtn commented on #224
It's just anecdotal, but I've heard this concern from other web devs too. I would be in favour of the spec treating `<source src>` the same way it treats `<img src>`, even if that isn't the _recommended_ way of doing things. Otherwise, I think Yoav's right, it will be a common (and confusing) error.

[2014-06-26 22:09] yoavweiss commented on #224
If we strongly believe that `<source src>` is not something that should be supported (personally, I'm not convinced that's the case), maybe an easier way to resolve this would be to spit out console warnings for `<source src>`, making this mistake easier to spot.

[2014-06-26 22:41] marcoscaceres commented on #224
Hmm... let's see how we go for now. If the overall response is negative, or we see a lot of it in the wild (people don't usually test so they might add it in a "fire and forget" kinda way) then we can bring it back.

[2014-06-27 09:43] paciellogroup commented on #222
@marcoscaceres have updated used some of your text, thanks!
http://www.w3.org/html/wg/drafts/html/master/embedded-content.html#an-image-in-a-picture-element

[2014-06-27 11:23] yoavweiss opened #225 "Remove the requirement for descriptors to be a valid int/float"
The requirement for descriptors to be a valid int/float adds implementation complexity, namely the need to implement and run an int/float validator _before_ actually parsing the int/float, for no good reason.

I prefer that we remove that requirement and accept any int/float that doesn't result in a parsing error, with the following exceptions:
- Trailing garbage would result in an error.
- (optio

[2014-06-27 14:20] Wilto commented on #224
No super-strong feelings on this personally, but I have seen some confusion about it. It seems to click for people right away, but there’s definitely some initial surprise. I also try to keep in mind that the people trying this thing out now and in the near future are probably pretty tuned-in to all this stuff—it’s hard to get much of a read, as things stand now.

Maybe we could get a Specifiction

[2014-06-27 14:48] marcoscaceres commented on #222
Thanks! but sad to see MikeSmith gone :crying_cat_face:

[2014-06-27 17:39] tabatkins commented on #224
Note that I'm not _opposed_ to allowing `src`, I'd just prefer to avoid it if possible. If it does end up becoming a pain point, I'm fine with allowing it.

[2014-06-27 18:40] marcoscaceres commented on #224
Is picturefill allowing it right now?

[2014-06-27 19:46] Wilto commented on #224
Nosir.

[2014-06-27 19:48] marcoscaceres commented on #224
ok, that's good. I means that at least we won't have interop issues with polyfilled code.

[2014-06-29 08:38] zcorpan commented on #225
It's not clear to me what black box behavior change you want.

What do you want to happen for srcset="a 2x 2px"? Drop the candidate or drop the 2px descriptor?

[2014-06-29 08:43] zcorpan commented on #224
One benefit for not allowing it is differentiating from `<video>`'s `<source>`. It helps understanding that the processing is not the same.

[2014-06-29 08:47] zcorpan commented on #223
http://software.hixie.ch/utilities/js/live-dom-viewer/saved/3066 - seems data: URL images load sync in blink/gecko at least. Will need to fix "update the image data" to do that. (I guess blob: should still be async?)

[2014-06-29 08:55] yoavweiss commented on #225
Drop the 2px descriptor, same as current spec.
On second thought, I'm not sure there's actual black box difference between current spec and the change I want. If that's the case, I'll simply add a check for a "+" prefix to have it result in an error.

[2014-06-29 09:34] zcorpan commented on #225
OK. Yeah if your strict float parser only differs from HTML's "valid float" by the leading + then that would be the same. I take it that the spec is fine as is.

[2014-06-29 09:34] #225 closed, assigned to nobody

[2014-06-29 09:58] zcorpan commented on #220
https://www.w3.org/Bugs/Public/show_bug.cgi?id=26232

[2014-06-29 10:55] zcorpan opened #226 "Use media query instead of media-condition in sizes"
Maybe we should revert to using media query in sizes="" instead of media-condition?

picturefill supports media query.
blink support media query.
validator.nu support media query.
gecko supports media-condition.

I think only supporting media-condition makes the syntax harder to explain because people don't know what it is, whereas they do know what a media query is.

Supporting media query also m

[2014-06-29 10:58] yoavweiss commented on #226
If Blink supports full mqs, it's a bug.

With that said, I don't have a strong opinion on which one is better
On Jun 29, 2014 12:56 PM, "Simon Pieters" notifications@github.com wrote:

[2014-06-29 11:16] zcorpan commented on #226
Oh, sorry, maybe it supports media-condition now? Looks like it. In that case I guess we should keep it as is and not flip-flop...

[2014-06-29 19:59] zcorpan commented on #219
This requirement was present in the old srcset spec. Just need to put it back.

[2014-06-29 20:24] zcorpan opened #227 "Should normalize the source densities for <img>"
Looks like the spec only does it for `<source>`

[2014-06-30 07:44] yoavweiss opened #228 "Intrinsic sizing, 'w' resources and zooming"
We need to decide what to do with intrinsic sizing of 'w' resources and zooming. An example filed by @coldcoder can be found at http://jsfiddle.net/feVXu/embedded/result/

Currently intrinsic sizing of such resources is (more or less) equal to the sizes value picked.
The problem starts when sizes is relative to the viewport and the user decides to zoom in.

Then we can either:
* Zoom the image wit

[2014-06-30 13:12] nwtn commented on #228
I have a strong preference for the second option.

[2014-06-30 14:52] Wilto commented on #226
Yeah, we should stick with media-condition, I think. Likewise: if Picturefill is still supporting full MQ, that’s a bug.

[2014-06-30 17:22] Nephyrin commented on #228
+1 to the second option. The image (or any layout) being 'unzoomable' is a side effect of the zoom-independent `vw` unit -- I would think that `<img sizes="100vw">` should behave like `<img style="width: 100vw;">` in that regard

[2014-06-30 17:40] yoavweiss commented on #228
You're right. `<img style="width: 100vw">` makes this a no-brainer.
Let's update the spec accordingly then.

[2014-06-30 22:22] tabatkins commented on #228
By "zoom", do you mean layout zoom or visual zoom?  Ctrl-+ or pinch-zoom?

If the former, option 2 should happen automatically; the size of the viewport changes, thus altering things based on the size of the viewport.  I don't think we need to say anything, do we?

If the latter, the viewport size doesn't change, so nothing happens.

[2014-07-01 05:58] yoavweiss commented on #228
On Jul 1, 2014 12:23 AM, "tabatkins" notifications@github.com wrote:

[2014-07-01 14:01] tabatkins commented on #228
Oh, I'm fine with a note, particularly as there's already been confusion.  There just doesn't need to be anything normative, as the behavior appears to fall out of the already-defined stuff.

[2014-07-01 15:06] Wilto opened #229 "Block insecure assets served via `picture`/`srcset` on TLS sites"
http://lists.w3.org/Archives/Public/public-webappsec/2014Jun/0245.html

Note that this restriction will not apply to `img [src]`.

I’m two ways on this: if this is going to be how all http-via-TLS assets are handled going forward, I agree that `picture`/`srcset` may be an opportunity to get images in-line with that. On the other hand, if  `picture`/`srcset` are going to be one of only a few restri

[2014-07-01 15:13] yoavweiss commented on #229
I think that if it'd be accompanied with "RESOURCE BLOCKED BECAUSE OF MIXED CONTENT!!!!!111" console warnings, people will get it and fix their sites.
And AFAIK, the intention is to block all new types of resources in mixed content scenarios.
@mikewest?

[2014-07-01 15:17] Wilto commented on #229
Yeeeah, being the first and (for now) only scenario where resources are blocked wouldn’t really appeal to me. I think it could end up being a barrier to `picture` adoption, if the aim is to push everyone to TLS.

[2014-07-01 15:20] yoavweiss commented on #229
The aim is not to push everyone to TLS, but to make sure that if you're on TLS, you stay there.

HTTP based picture would still work as usual. but you won't be able have an HTTPS site with HTTP based picture.

[2014-07-01 15:20] mikewest commented on #229
`<picture>` isn't the only scenario where resources are blocked. Tomorrow's Chrome Canary will block all mixed content by default with the exception of images, audio, video, and plugin requests. I'm waiting for usage data for the remaining bits.

I would like to carve off some of that "images" block. Subsetting images into "stuff that people aren't using yet, and whose behavior is safe to specify

[2014-07-01 15:22] mikewest commented on #229
Also, what @yoavweiss said. :)

[2014-07-01 15:26] Wilto commented on #229
Hm. I mean, if http-served stylesheets and scripts are gonna come crashing down, it’s going to be pretty clear that something is amiss for the author.

[2014-07-01 16:04] yoavweiss commented on #229
Yup, mixed content scripts not working is bound to get people's attention

[2014-07-01 16:09] Wilto commented on #229
@zcorpan, @tabatkins: any thoughts?

[2014-07-01 16:34] tabatkins commented on #229
I'm fine with this, particularly since we're getting more aggressive with blocking in general.

[2014-07-01 21:58] yoavweiss commented on #229
Since everyone here are cool with this, closing. Please reopen if necessary

[2014-07-02 14:13] Wilto opened #230 "`srcset` making requests on resize/zoom"
So, `srcset`, we’re strongly assuming that no art direction is going on. For this reason, we can get a little tricky with window resizing vs. making requests: if we start with a large window and resize it down, there’s no reason to request the smaller versions of the same image when it can just be scaled down with CSS—save a couple requests, where there’d be no real benefit.

Resizing from small t

[2014-07-02 14:22] Wilto commented on #222
Okay to close?

[2014-07-02 14:23] Wilto commented on #214
What’s the latest on this? @darobin, @hober?

[2014-07-02 14:24] yoavweiss commented on #230
Note that this is all a non-normative discussion. Browsers are free to do whatever they feel is best for their users here.
But, we're trying to establish some sort of "best practice" that would be the baseline upon on which browsers would be able to innovate.

Personally, I tend to leave re-downloading out at first stage of the Blink implementation, to avoid extra resource downloads, and then intr

[2014-07-02 14:25] Wilto commented on #230
Right—keep in mind that we may not be able to _enforce_ whatever we settle on here, but we can advise.

[2014-07-02 14:31] stevefaulkner commented on #222
if people are happy with what I put in the spec, then yes

[2014-07-02 14:43] RwwL commented on #230
I agree that the blurry images when scaling up (then "fixed" on refresh) feels a little broken from an author standpoint, but think this may be one of the cases that's such an edge case for the reader standpoint that it's just better to avoid the extra requests.

The bigger question, to me, is why does a dev using srcset lead to the browser's strong assumption that no art direction is going on? Is

[2014-07-02 14:46] yoavweiss commented on #230
Art-direction should be done with `<picture>`. With `srcset` you have no guaranties (as an author) that the images downloaded would be the ones matching your assumptions regarding DPR, viewport size, etc. And yes, it is part of the spec :)

[2014-07-02 14:52] RwwL commented on #224
@zcorpan: I'm not sure an average web author needs to understand or care that processing is not the same. A consistent authoring pattern for these scenarios seems like a benefit to me.

[2014-07-02 14:59] derekjohnson commented on #224
FWIW I gave a workshop to two devs and a designer at work and they weren't put out by it not being allowed.

If `<source src>` is allowed will it just be for single sources or will a list of sources be allowed in there too? `src="small.jpg, small.jpg 2x"` doesn't make as much sense as `srcset="small.jpg, small.jpg 2x"` to me, I like the implication that more than one thing can go in.

I don't feel

[2014-07-02 15:17] davidcmoulton commented on #224
People who are already using picturefill are unlikely to erroneously use `<source src` as they already know not to. I like the idea of `src` causing a console warning to be logged, to help later adopters of`picture`. If it's decided that the native implementation of `<picture><source src` should log a warning, it might be worth also making picturefill do the same, for consistency.

[2014-07-02 15:37] bjankord commented on #224
+1 for no `<source src`
Seems like it opens up too much to consider from an browser implementation viewpoint.

[2014-07-02 17:37] anselmh commented on #230
Wait, art direction doesn’t mean necessarily another format. It could simply be another zoomed crop of the image with same proportions. But still I’d not re-download another resource. Anyway, is resizing a browser a common use-case (except orientation change)?

[2014-07-02 18:01] tabatkins commented on #230
A zoomed crop of the image should definitely be used when it's appropriate; you don't want a tiny wide-field view on a small screen, or a hugely blown-up headshot on a large screen, even if the resolutions work out correctly. The spec requires that to be redownloaded, as proper.  (Particularly since we can't tell whether it has the same proportions or not.)

I'm fine with an advisory note that UAs

[2014-07-02 18:12] marcoscaceres commented on #222
Seems ok to me.

[2014-07-02 18:33] soukhinov commented on #230
Images must be reloaded when zoom is happening.

I put mathematical formulas in my site in 2 formats: pixel-perfect PNG for one-to-one display, and SVG for scale larger than 100%. I was furious when I discovered that I cannot just zoom page with my formulas in Google Chrome: all formulas became blurry, and I needed to reload page after zoom.

Even worse, when I printed my page on laser printer, I

[2014-07-02 18:37] Wilto commented on #230
@soukhinov: Sorry, this is an issue you were having with the `picture` element or the `srcset`/`sizes` syntax? I ask because you just sent us a lot of very unspecific feedback about images via Twitter earlier today, and concluded with the fact that you were just complaining about “web imperfection.”

[2014-07-02 18:57] yoavweiss commented on #230
Obviously anything art-directy (so `<picture>`/`<source>`) would be downloaded upon MQ change.
The question here is about quality differences inside `srcset`. (so the only negative effect would be blurriness, not distortion or layout breakage)

Anyway, from the feedback so far, seems like the baseline behavior should be to download higher-res resources according to dimensions + DPR (while consider

[2014-07-02 18:57] marcoscaceres commented on #230
@soukhinov this is really valuable feedback, btw. Please note that we are trying to make sure that the use cases are met by browsers. For instance, we've known for a long time that printing was going to be an issue that needed to be addressed - and that zooming also needs to be taken into consideration. See:
- [Matching media features and media types](usecases.responsiveimages.org/#matching-media-

[2014-07-02 18:59] yoavweiss commented on #224
That's encouraging :)
In that case, let's leave things as is (while perhaps adding a console warning to implementations).

Closing. Feel free to open if you strongly disagree.

[2014-07-02 18:59] #224 closed, assigned to nobody

[2014-07-02 19:01] soukhinov commented on #230
It is about `srcset`. It seems that my Google Chrome version still does not support picture, so I was not able to experiment.

P.S. Sorry for Twitter messages. I have just deleted them.

[2014-07-02 19:30] yoavweiss commented on #230
@soukhinov - Thanks for the feedback. You can always also open a bug at crbug.com and cc me on it for any issues with the srcset/sizes/picture implementation in Blink (Chrome/Opera).

[2014-07-02 19:34] yoavweiss commented on #226
Reopening, since I'm having second thoughts...
Looking at https://github.com/ResponsiveImagesCG/picture-element/issues/230#issuecomment-47816726 I see a use case for a `sizes` attribute that looks like `print 1920px, (max-width: 800px) 100vw, 600px` to serve Hi-Res images for printing purposes.
In the past we claimed that print would be served better by using `<picture>`, since it usually involved

[2014-07-02 22:19] Nephyrin commented on #226
From yoav's example, `print 1920px, (max-width: 800px) 100vw, 600px` is a list of three items separated by commas -- that sounds like it will get quite messy, but if we can avoid heinous edge-cases and reasonable forward-compatibility, it's easy enough, implementation wise.

Alternatively, we could always go deeper: `[ print 1920px, (max-width: 800px) ] 100vw, 600px`

[2014-07-02 22:21] Nephyrin opened #231 "Preloading alternate images and switching sources"

[2014-07-02 22:23] yoavweiss commented on #226
I don't think it would change much from the current implementation, just
replace the media condition check for a media query ( or alternatively,
allow media type instead)
On Jul 3, 2014 12:20 AM, "John Schoenick" notifications@github.com wrote:

[2014-07-02 22:27] Nephyrin commented on #231
Pre-mature enter key usage. Let's try again.

Currently, the spec treats switching sources similarly to switching the source on a basic image, but this might not always be desirable behavior.

Considering a simple `<img srcset="small.jpg 1x, big.jpg 2x">`, the UA may want to switch to the big image (issue 230) when the viewport grows. This would cause the image to vanish and -- visibly, incrementa

[2014-07-03 01:52] tabatkins commented on #226
@yoavweiss: No, just use the media features appropriate for what you want.  Yes, print stylesheets exist today, but they shouldn't, and we should support the new media features that allow people to replace them with appropriate combinations of conditions.  Then it's just another media condition, same as any other layout breakpoint, and can be copied into `<picture>`.

That said, I'm not super-oppo

[2014-07-03 02:16] Nephyrin commented on #226
Yes, totally. I was mis-recalling `<media-query>` as `<media-query-list>` and mentally read yoav's example as `print, (max-width: 800px) 100vw, 600px`, with the first two items being a `<media-query-list>`, which could possibly be incrementally parsable, but a terrible idea. Disregard.

[2014-07-03 06:07] yoavweiss commented on #226
@tabatkins - oh, if we have media features to replace print we can definitely use that instead. What would those be? Resolution/color?

[2014-07-03 06:30] tabatkins commented on #226
Depends on what you're looking for! "print" is actually a smorgasbord of features, many of which can be targeted by new features in MQ4.  Often it'll probably just be a matter of extra-high resolution (perhaps switching it to a vector image), or the lack of animation (switching it to a chosen still image).  These are covered by the `(resolution)` and `(update-frequency)` features, respectively.

I

[2014-07-03 06:41] yoavweiss commented on #226
OK, I'm totally convinced that MQ4 is the place to resolve that use case, if it's not already resolved by `(resolution)`/`(update-frequency)`/`(color)`.
Closing again! :)

[2014-07-03 06:41] #226 closed, assigned to nobody

[2014-07-03 06:47] yoavweiss commented on #231
And another question @nwtn brought up on IRC - what if the higher-res/larger-viewport image load fails? Do we show a broken image symbol or keep displaying the lower-res/narrow viewport one?

Here again, the answer may differ between res switching and art-direction, and even for art-direction the answer may differ on a case by case basis (so best delegated to authors).

@zcorpan started a thread a

[2014-07-03 07:12] tabatkins commented on #231
Ooh, that is something we should cover with normative text, I think.

I believe that if you attempt to load a second source from `srcset` and it fails, you should just ignore the failure, and keep showing the previous source.  If you attempt to load a second source from a new `<source>` and it fails, you should show a broken image icon; again, art-direction needs to be honored precisely, and showi

[2014-07-03 07:58] soukhinov commented on #230
That is my code (that I was talking about), which produces blurry image on printer, because browser does not reload image when printing:

`<img src="formula.png" srcset="formula.png 1x, formula.svg 1.01x"/>`

What is wrong with it?

Related Chrominum bug report I just found: https://code.google.com/p/chromium/issues/detail?id=177836

[2014-07-03 10:12] sideshowbarker commented on #224
fwiw I could have the validator emit a special error for source@src with a message saying something as specific and helpful to devs/authors as possible; e.g., "The `src` attribute is not supported for `source`-element images. Use the `srcset` attribute instead." Or whatever the most-helpful "Use ... instead" wording would be.

Above is in the context of earlier comments for this issue; e.g.:

[2014-07-03 10:15] yoavweiss commented on #224
Sounds good!
On Jul 3, 2014 12:13 PM, "Michael[tm] Smith" notifications@github.com
wrote:

[2014-07-03 12:24] Wilto commented on #231
Makes sense to me. Falls right in with the “do whatever” part of `srcset`, and as much as I hate the idea of a busted image showing up after an orientationchange while someone is on the subway, we probably don’t want to start introducing any variance to `picture` here.

[2014-07-04 17:14] ausi commented on #230
I think downloading larger images if you zoom in or resize the browser is very important. The main reason to zoom in on an image on a mobile phone is to see more details of that image.

To improve performance or rather decrease download size the browser may only re-download images which are visible in the current viewport, or re-download them with higher priority.

Just my two cents.

[2014-07-05 19:12] zcorpan commented on #231
This is already in the spec. The algorithm for environment changes says to
do nothing If the load fails. It says to swap when the image is completely
loaded. It might not be exactly what we want, but it's what's currently
required.

On Thursday, July 3, 2014, Mat Marquis notifications@github.com wrote:

##

Simon Pieters

[2014-07-06 09:48] zcorpan commented on #231
Also see https://www.w3.org/Bugs/Public/show_bug.cgi?id=25889

[2014-07-06 10:09] zcorpan commented on #229
I guess we need two request contexts for `<img>` "image" and "legacy image" (when the parent is not `<picture>` and there is no srcset attribute), with the former being an active request context and the latter optionally blockable request context.

We should say which context to use.

(Though the HTML spec doesn't yet use the Fetch spec.)

cc @annevk

[2014-07-06 16:32] mikewest commented on #229
I think @annevk suggested `imageset` in a separate thread. It's not in Fetch yet, and he's on vacation for a bit. We'll have to ping him in a few weeks. :)

[2014-07-07 03:17] tabatkins commented on #230
Note that you can force it to work by using `<picture>` fully:

[code]

[2014-07-07 18:55] Nephyrin commented on #231
Ah, alright, I had not kept up with this part of the spec. I would say the w3 issue covers this entirely

[2014-07-07 18:55] #231 closed, assigned to nobody

[2014-07-07 20:45] zcorpan commented on #230
Do you need the png to ever be selected? If not, you can do `<img src="formula.png" srcset="formula.svg 1x">`.

[2014-07-17 09:12] annevk commented on #229
Yeah, if that works please file a bug on Fetch to add `imageset` or add it to an existing bug on contexts.

[2014-07-22 22:35] tabatkins opened #233 "Missing "normalize the source densities" step for sources coming from `<img>`"
Step 3.9 of http://www.whatwg.org/specs/web-apps/current-work/multipage/embedded-content.html#update-the-source-set normalizes the source densities for `<source>` children, but the sub-algo in step 3.1 doesn't have a similar step.  It needs one inserted between steps 3.1.3 and 3.1.4.

[2014-07-26 06:14] zcorpan commented on #233
dup of #227

[2014-07-26 06:14] #233 closed, assigned to nobody

[2014-07-28 21:19] gregwhitworth opened #234 "Percentages not allowed in sizes="""
Was speaking with @yoavweiss and I mentioned how sizes in Chrome Canary doesn't allow you to use percentages and he said that this was because percentages were removed due to author confusion (thinking that the percentages would be relative to its parent). I suggest adding this to the speck, list what units are allowed in the sizes attribute. I also think it might be worth considering doing the sa

[2014-07-28 21:34] tabatkins commented on #234
The spec does explicitly list what types are allowed - it says `<length>`.  Percentages are not `<length>`s (though in some circumstances percentages are resolved relative to a length, of course).

But I'm fine with adding a more explicit note that percentages aren't allowed (and that you probably want to use the vw/vh units).

[2014-07-28 21:50] gregwhitworth commented on #234
Thanks!!

[2014-08-01 16:05] Wilto commented on #220
Found a couple of related things I could patch up on this side of things, but that example is outside the repo. It does read content-image-y to me; I think I’d +1 a quick `alt` value there.

[2014-08-01 16:08] Wilto commented on #222
![](http://bukk.it/thumbsup-bro.gif)

[2014-08-01 16:08] #222 closed, assigned to nobody

[2014-08-01 16:21] Wilto commented on #214
CfC passed; @hober is gonna ping @sideshowbarker about burning that sucker down.

[2014-08-01 16:21] yoavweiss commented on #214
Woot!!!
On Aug 1, 2014 6:21 PM, "Mat Marquis" notifications@github.com wrote:

[2014-08-02 06:07] zcorpan opened #237 "Editorial: missing xref for "<code>srcset</code>""
http://krijnhoetmer.nl/irc-logs/whatwg/20140802#l-3
https://github.com/ResponsiveImagesCG/picture-element/blob/gh-pages/source#L1434

[2014-08-05 07:06] #229 closed, assigned to nobody

[2014-08-05 10:02] #174 closed, assigned to zcorpan

[2014-08-05 10:15] #234 closed, assigned to nobody

[2014-08-06 06:09] #187 closed, assigned to nobody

[2014-08-06 06:14] #186 closed, assigned to nobody

[2014-08-06 06:26] #189 closed, assigned to nobody

[2014-08-06 06:43] #215 closed, assigned to nobody

[2014-08-06 11:53] #219 closed, assigned to nobody

[2014-08-06 12:05] #227 closed, assigned to nobody

[2014-08-06 12:14] #237 closed, assigned to nobody

[2014-08-07 05:35] #216 closed, assigned to nobody

[2014-08-07 06:27] zcorpan opened #238 "Tighten up the spec for the type attribute"
Possibly the spec needs something more around the type attribute. e.g. what should happen for the empty string? application/octet-stream? foo\bar? image/gif; foo=bar?

I guess we should be consistent with what the object element does.

[2014-08-07 07:15] tabatkins commented on #238
Yeah, I had no idea what that should be beyond "a MIME type".

[2014-08-14 12:39] zcorpan opened #239 "Drop candidates with h without w"
Generally unknown descriptors are just ignored in srcset, they don't cause the candidate to be dropped on the floor. This appears to be the desirable behavior for `type()`, `integrity()` and `h` when `w` is also present. However, it is a bit confusing for `h` when `w` is _not_ present, since it gets interpreted as `1x`.

http://ircbot.responsiveimages.org/bot/log/respimg/2014-08-14#T86602 for disc

[2014-08-14 22:01] yoavweiss commented on #239
+1, since it'd help us introduce `h` in the future, without causing confusion in legacy UAs

[2014-08-15 05:40] #239 closed, assigned to nobody

[2014-08-15 08:54] zcorpan commented on #214
Secret sources suggest this is gonna pop on Tuesday.

[2014-08-15 08:54] #214 closed, assigned to nobody

[2014-08-15 14:41] Wilto commented on #214
YES.

[2014-08-15 14:41] marcoscaceres commented on #214
`<gif image>`

[2014-08-15 14:45] Wilto commented on #214
![](http://i.imgur.com/PpmPRu1.gif)

[2014-08-22 21:02] yoavweiss commented on #230
@zcorpan & @tabatkins do you think we should add a non-normative text around this? If not, we can close this as far as I'm concerned.

[2014-08-22 21:55] tabatkins commented on #230
I don't have a strong opinion, but a non-normative note like what I outlined in https://github.com/ResponsiveImagesCG/picture-element/issues/230#issuecomment-47812774 would probably be useful.

[2014-08-29 23:28] igrigorik opened #240 "Using 'width' value to determine which resource to pick"
Currently `width` is not used in the selection algorithm but, at least in theory, it should work just fine and I'm wondering if we should clarify this in the spec?

[code]

In above example, the UA should select wolf-400.jpg for 1x devices, wolf-800.jpg for 2x, and so on. Also, note that HTML5 spec says that [width must be in CSS px](http://www.w3.org/TR/html5/embedded-content-0.html#attr-dim-widt

[2014-08-30 02:19] tabatkins commented on #240
The conflict between `width` and `sizes` is why we should avoid conflating them.  If you want to do this, add a `sizes=400` attribute as well, or just write your densities with the `x` unit, since your image is fixed-width.  (The `sizes` attribute and the `w` unit exist to handle variable-size images.)

[2014-08-30 02:19] #240 closed, assigned to nobody

[2014-08-30 02:59] igrigorik commented on #240
Ah, so to confirm, sizes accepts both `px` (default) and `vw` units? And if I wanted to provide a fallback:

[code]

Old browsers would pick up wolf.jpg and display it at 400px based on `width`, and newer browsers would be smart enough to pick up `sizes` value and select the right asset based on device DPR. Correct?

[2014-08-30 04:11] tabatkins commented on #240
Yes, `sizes` accepts all CSS `<length>` values, and interprets them the same way that MQs do.

Your fallback would indeed work as you described.

[2014-09-09 07:10] zcorpan opened #241 "Ban functions in sizes other than calc()"
It's not super clear what toggle() and attr() should do in sizes="". We should just ban anything but calc().

[2014-09-09 07:25] tabatkins commented on #241
`toggle()` technically works, but since there's no inherited value, it'll just always select its first value. Fine to ban it.

`attr()` is technically only defined within the context of a property, which `sizes` isn't, so it doesn't actually work. Fine to ban it too.

I agree that it should be fine to just whitelist `calc()`, and we can expand the list in the future if needed.

[2014-09-09 07:44] #241 closed, assigned to nobody

[2014-09-14 19:40] zcorpan opened #242 "media attribute with invalid value not parsed correctly"
[[
If child has a media attribute, and its value is not a valid media query list, or is a valid media query list that evaluates to false, continue to the next child.
]]
http://www.whatwg.org/specs/web-apps/current-work/multipage/embedded-content.html#update-the-source-set

This should say "If child has a media attribute, and its value does not [match the environment](http://www.whatwg.org/specs/we

[2014-09-14 19:42] yoavweiss commented on #242
:+1:

[2014-09-14 19:56] #242 closed, assigned to nobody

[2014-09-16 08:57] yoavweiss opened #243 "Empty source set should be allowed"
While talking to @colinbendell, he mentioned a use case he has: loading certain images only on some viewport sizes, but loading nothing on others.
My response was that this should be possible by eliminating the `srcset` attribute from that `<source>`, but it doesn't seem like we specced it that way. Unless there's some other way to answer thzt use case, we probably should.

Can we modify https://h

[2014-09-16 10:07] zcorpan commented on #243
I think this was intentional to have a story for future extensions.

Can you elaborate on the use case?

[2014-09-16 10:14] yoavweiss commented on #243
As I understand it, the use case would be a Web site where the wide viewport breakpoints includes certain content images that are not present in narrow viewport breakpoints.

So, images that today have a `display: none` rule on them for certain breakpoints, and are downloaded anyway.

[2014-09-16 10:20] zcorpan commented on #243
Interesting. How about we return empty source set if srcset is absent, but continue the algorithm if srcset is present but does not result in any parsed image sources? That would satisfy the use case and have the same forward compat story.

[2014-09-16 10:24] zcorpan commented on #243
Although since srcset parsing mostly ignores unknown descriptors, it seems like it won't return an empty source set anyway for future extensions to srcset. So maybe we can stop the algorithm when srcset is present also...

[2014-09-16 10:56] zcorpan commented on #243
Another issue here is that if the make the algorithm return an empty source set, I think that will result in an error event being fired and alt text showing up (or broken image icon). I guess that's not quite the wanted result.

[2014-09-16 11:09] yoavweiss commented on #243
It's probably something authors can live with (`display: none` the alt text and ignore the error), but it would be better if we could avoid that altogether.

[2014-09-16 11:21] zcorpan commented on #243
Yeah. So what is the ideal behavior? Fire `load` event? Fire a new event `emptied`? Should the rendering be `display:none`? Or like `<img alt="">`?

[2014-09-16 11:44] zcorpan commented on #243
I think this is blocking on https://www.w3.org/Bugs/Public/show_bug.cgi?id=26702 for a proper fix.

[2014-09-16 12:24] Wilto commented on #243
Ah man, I am super not into the idea of showing/hiding an image completely using `picture`. I know requests are complicated when it comes to `display: none` on an image and parents thereof, but we don’t encourage people to strip `src` off `img` when they want to hide one. Besides, an image that’s optional at some sizes is likely in “decorative” territory anyway, so it might be a better job for CSS

[2014-09-16 13:16] yoavweiss commented on #243
I was under the impression that we have discussed it in the past as a valid use case, but maybe I was hallucinating...

I guess that authors can do this by setting the src to some 1x1 transparent GIF, that would expose this as the hack that it is.

[2014-09-18 08:32] zcorpan commented on #243
@Wilto's argument that images that are hidden in some layouts are probably not content images seems compelling. But it's hard to know without having real examples to study.

Moreover, images that are hidden in some layouts seem like they will not be critical in the layouts where they are visible, either, so it should be fine to use `lazyload` (or whatever when it exists), which will not download a

[2014-09-19 05:19] zcorpan commented on #220
https://www.w3.org/Bugs/Public/show_bug.cgi?id=26232 is now fixed. Empty alt is intended.

[2014-09-19 05:19] #220 closed, assigned to nobody

[2014-09-24 20:29] eeeps opened #244 "Drop candidates with `w` descriptors if `w`is unsupported"
Per #239, given:

[code]

In a browser that doesn’t support `h`, we drop both candidates and the `src` is picked.

But given:

[code]

In a browser that supports `x`, but not `w`, (like, oh, iOS 8 Safari, or Safari 7.1), behavior is unspecified. I think it should be spec'd to mirror `h`; drop both `srcset` candidates and fall back to the `src`.

I think @yoavweiss already made this change in WebKi

[2014-09-24 20:37] eeeps opened #245 "Drop any candidate with a `type` descriptor if `type` is not supported"
If/when #210 becomes real, I think a lot of people are going to want to do:

[code]

...because it feels a lot like:

[code]

...which works.

Currently, though, in browsers that don’t understand `type()` it is simply ignored and both candidates get assigned `1x`. The first is chosen, and the browser tries to load the WebP – if the browser doesn’t support WebP, the user gets a broken image, even t

[2014-09-24 20:41] eeeps commented on #244
It occurs to me that maybe I should have titled this “Drop candidates with **only** `w` descriptors if `w` is unsupported”. Not that anyone should be writing stuff like `srcset="a.jpg 2x 320w"`, but if they do, it probably makes sense to use the 2x & candidate (?)

[2014-09-24 20:55] tabatkins commented on #244
Browsers shouldn't be partially implementing in the first place; they just need to support `w` descriptors properly.  (But I'll comment on the other thread, where I have a more relevant opinion.)

[2014-09-24 20:59] tabatkins commented on #245
Yes, our handling of unknown descriptors (just drop them and continue processing the candidate) is broken and future-hostile.

My original spec just parsed each candidate against the grammar, and dropped it when it didn't match.  The spec was later changed to an explicit parsing algorithm that was closer to HTML's original `srcset` behavior (just dropping unknown descriptors), which was a mistake.

[2014-09-24 21:15] eeeps commented on #245
Is it more future hostile to drop things that you don't understand, or ignore them / assign 1x?

[code]

Say a major browser supports `w`, but not `h` or `contain`. Does dropping both candidates and loading the fallback discourage adoption of the new features?

Is that a problem?

I lean towards no (support will come eventually, the fallback isn’t so bad), but feel like I haven’t thought this all

[2014-09-24 21:28] tabatkins commented on #245
CSS's success in remaining extensible for the last decade suggests that "drop things you don't understand, in whole meaningful units" is the best way forward.  You have to duplicate yourself during transition periods, but it means that transition is _possible_ and, more importantly, _controllable by the author_.

There are also a few CSS-related things, such as the `media` attribute, that went the

[2014-09-24 21:36] tabatkins commented on #245
(Note also one place where CSS has failed in extensibility due to doing this wrong: if a single selector in a selector list is invalid, the entire selector list gets dropped (and its associated rule), rather than just making that one selector match nothing and letting other comma-separated selectors in the list continue to work.  This is too large of a "meaningful unit", and makes it very difficul

[2014-09-24 21:55] eeeps commented on #245
We’ve strayed a little from `type`, but re-considering the previous example, duplicating yourself to control the transition might look like:

[code]

?

This would require that browsers choose candidates that they know more about (should that be spec'd?), and being sure that the “whole and meaningful unit” of a `sizes` is each comma-separated chunk, and not the whole attribute (which might already

[2014-09-25 10:01] zcorpan commented on #245
See http://ircbot.responsiveimages.org/bot/log/respimg/2014-08-14#T86602 for earlier discussion about this issue.

I'm OK with changing it though. But I think special-casing `h` is a nice feature we should keep.

[2014-09-26 07:30] zcorpan commented on #245
@yoavweiss thoughts?

[2014-09-26 10:43] zcorpan commented on #245
Proposed change:

[code]

[2014-09-26 10:53] zcorpan commented on #244
Proposed change:

[code]

[2014-09-28 23:55] yoavweiss commented on #245
I'm with @tabatkins on this. Dropping unknown candidates is probably better than letting them in the selection algo as something they're not

[2014-09-29 08:43] #244 closed, assigned to nobody

[2014-09-29 08:43] #245 closed, assigned to nobody

[2014-09-30 08:49] yoavweiss opened #246 "What should viewport relative images do between viewport resize and image loading?"
I'm working on fixing a Blink [bug](https://code.google.com/p/chromium/issues/detail?id=411179) @zcorpan filed, where the DPR of the loaded resource is applied before the resource has actually loaded, causing the previously loaded resource to change dimensions when resizing the viewport, before the new resource was loaded.

I wonder what that behavior should be though.

OTOH, you could claim that

[2014-09-30 11:36] yoavweiss commented on #246
OTOH, if the viewport resize goes beyond `<source>` boundaries, we could argue that it'd be better to keep the previous image at its "natural" width and not more than that. (or some other behavior altogether).

[2014-09-30 21:30] zcorpan opened #247 "naturalWidth/naturalHeight should apply current pixel density"
http://ircbot.responsiveimages.org/bot/log/respimg/2014-09-30#T93834

[2014-09-30 21:32] zcorpan opened #248 "naturalWidth/naturalHeight should maybe return null when no there's intrinsic size"
http://ircbot.responsiveimages.org/bot/log/respimg/2014-09-30#T93823

[2014-10-01 00:03] eeeps commented on #246
Gut, ill-considered, reaction:
- When switching from one `srcset` resource to another, continue to display the old resource at the new intrinsic dimensions while we wait for the new resource to load. Worst case: it gets a little fuzzy in the interim. Alternative worst case: the image’s size suddenly jumps, unprompted, long after we’re done resizing the window.
- When a `source media` turns false,

[2014-10-01 11:13] zcorpan commented on #246
Not showing anything seems like a bad user experience.

If it's shown and doesn't break the layout, there's no problem. If it breaks the layout, the author can set the right size in CSS and use object-fit to preserve aspect ratio. We might also add width/height information for `source` at some point also, removing the need to use CSS.

[2014-10-02 13:56] zcorpan commented on #248
Made them return 0 to match some browsers and it doesn't seem useful to distinguish from `<svg width=0 height=0>` (you can do that anyway by checking the rendered size).

https://github.com/ResponsiveImagesCG/picture-element/commit/d45b2c60235d100515e4eb59b2911429334e9361

[2014-10-02 13:56] #248 closed, assigned to nobody

[2014-10-14 14:57] yoavweiss commented on #86
A use-case that came up on [twitter](https://twitter.com/vasilis/status/522037553776848896) RE 'h' descriptor support: [this site](http://vasilis.nl/voto/terreur/140928151042/) displays height constrained images, and width only `sizes` makes little sense for it.

[2014-10-17 14:35] yoavweiss opened #249 "onerror when environment changed?"
As part of a commit to avoid onerror firing when an environment change triggered and image load, @mikewest and myself started [discussing](https://codereview.chromium.org/654253003) whether or not it is the right thing to do. Discussion continued on [IRC](http://echelog.com/logs/browse/blink/1413496800) as well.

@zcorpan - was I correct in my estimate regarding the rational there? Is it to avoid

[2014-10-23 03:29] JosephSilber commented on #230
@RwwL

Is rotating your phone into landscape (after loading a page) an edge case?

[2014-10-23 13:30] RwwL commented on #230
@JosephSilber Yep, it probably is. Even if it's not an edge case in the sense that it happens more often than I think it really does, is the difference in image clarity on a phone-sized screen in that use case worth the additional request & download? Pretty subjective question, and depends on the image, but to me, most of the time, nope. Same probably goes for any 4:3 tablet. On a 16x9 tablet, may

[2014-10-24 00:00] JosephSilber commented on #230
@RwwL

Considering a 1920 x 1080 screen resolution (iPhone 6 Plus and many Android phones), that's almost double the pixels in landscape mode. I see a clear difference even on my iPhone 6.

Also, you're assuming that both landscape and portrait have the same layout. You sometimes might actually need a _bigger_ image in portrait mode, if the image only takes up a fraction of the screen's width when

[2014-10-24 00:27] RwwL commented on #230
Sure, but one person's "clear difference" is another person's "bandwidth I didn't need to pay for just for rotating the device."

Now, it's also possible that an overwhelming reason people rotate devices post-load is to get a better look at images, in which case, sure, definitely reload 'em.

[2014-10-25 11:31] bjankord opened #251 "SVG format not loading in native picture element when specified in source element with type="image/svg+xml""
I believe I've found an issue with the native picture element and SVG type format. I've created a simple [test case](http://codepen.io/bjankord/full/eGjkv/).

Expected Result:
In browsers that natively support the picture element and SVG format, display the svg image when used in picture element with appropriate type attribute.

Actual Results:
In browsers that natively support the picture element

[2014-10-25 11:36] mdmcginn commented on #230
Since we're only talking about what we suggest browsers should do, browsers should offer user settings such as "Prioritize bandwidth" vs. "Prioritize image quality" - maybe a slider. Then the user could decide. Until AT&T adds a "Bandwidth remaining in monthly data plan" field to my http response headers.

[2014-10-25 11:56] yoavweiss commented on #251
That's a chrome bug, fixed in canary (and maybe in 39, I don't remember, and on the road).

[2014-10-25 11:56] #251 closed, assigned to nobody

[2014-10-27 15:18] zcorpan commented on #249
The image doesn't change to the broken state, so firing an error event seems slightly off. You can log to the console that the load failed. Is there a use case for notifying JS?

[2014-11-05 08:36] yoavweiss commented on #249
/me is back from some quality time with the mother-in-law

@mikewest - are you OK with @zcorpan's explanation? Would you like me to add console errors to https://codereview.chromium.org/654253003/ instead of the unfired onerror?

[2014-11-06 13:58] mikewest commented on #249
Yeah, I trust you to make the right decision here. I just want to ensure it's been considered.

[2014-11-06 14:16] yoavweiss commented on #249
Cool. Closing then

[2014-11-06 14:16] #249 closed, assigned to nobody

[2014-11-11 18:59] igrigorik opened #252 "API for getting/setting image pixel density"
Currently the UA "remembers" which DPR variant it picks when making a request and then uses said value to scale the received asset before it's displayed - e.g. if a 2x selector is used, then the image is automatically scaled down by same factor before its displayed.

However, there are cases where what the client chooses, and what comes back (from server, cache, service worker, etc), are not the s

[2014-11-15 01:50] tabatkins commented on #252
Yeah, I don't see anything wrong with the idea, and being able to set the default densities of things seems useful.

Are you just asking for the sizing algo to check this header on the response and respond accordingly?

[2014-11-15 03:32] igrigorik commented on #252
Yes, I guess there are two different things here, although they are related in terms of API surface...
1. Check for the `Content-DPR` header and use it for calculating the intrinsic size. Note that this value should override the client's default - e.g. client requests a 2x, but server responds with 1.5x.
2. Provide a JS API to do the same.. for cases where I'm fetching a blob and want to feed it t

[2014-11-15 17:46] vigneshshanmugam commented on #252
Just Curious to know. In the case of offline, Will it returns the image from cache and scales it automatically or wont render the image from cache?.

[2014-11-17 17:32] tabatkins commented on #252
Presumably we'd have to cache its server-specified resolution along with it.  Then it'd scale automatically.

[2014-11-17 22:11] igrigorik commented on #252
HTTP response headers are cached (we need them for Accept+Vary processing, ETags, etc), so that's not an issue, the value will be available when coming from cache.

[2014-11-18 07:41] yoavweiss opened #253 "Intrisinic dimensions adaptation only when sizes is explicit?"
The conversation on http://ircbot.responsiveimages.org/bot/log/respimg/2014-11-14#T100930 made me wonder if we'd be better off if the intrinsic width adaptation of sizes and the `w` descriptor would happen only when sizes is explicitly defined by the author (and not when it is missing and defaults to `100vw`). Otherwise, I fear confusion around that would continue.

Thoughts?

[2014-11-18 15:56] eeeps commented on #253
This would add another wrinkle for people who want to fully understand the feature. “The default sizes is `100vw`, but no `sizes` attribute at all behaves differently than `sizes=100vw` in this one weird way.”

For people with no understanding of how `sizes` and `srcset` combine to create an intrinsic density, this change would make the default behavior more like what they're used to; `<img srcset

[2014-11-18 18:01] tabatkins commented on #253
`sizes` does not cause any size adaptation.  This is obvious if you specify `sizes` and then don't use any `w` descriptors; the `sizes` value does nothing at all in this case.

All that `sizes` does is provide the second half of the "figure out `x`" equation, where the `w` value is the first half.  Then, when the "effective `x`" has been found, _that_ adjusts the intrinsic size as usual for `x`, a

[2014-11-28 12:56] Boldewyn opened #254 "Allow adaption of <figcaption> based on chosen <source>"
Based on this tweet: https://twitter.com/iandevlin/status/538313179450060801

The use case: A photo of 5 people, art direction cuts off the left-most human for some variants. Then a `<figcaption>John Doe, 2nd from left</figcaption>` is not possible reliably.

Possible fix: Re-use the `for` attribute:

[code]

[2014-11-28 13:10] yoavweiss commented on #254
Looping in @stevefaulkner

[2014-11-28 13:18] iandevlin commented on #254
Manuel/Boldewyn beat me to the bug report, but provides a very valid use case.

Here's another (and the one I am working with): A town photo, it is a wide ranging shot with a castle on a hill above the town. The initial caption reads something like "The town of Saumur, with a medieval castle and church tower its most prominent features".
A smaller image is then used for smaller screens which only

[2014-11-28 13:33] Boldewyn commented on #254
The problem with `@alt` may be solvable by allowing `@alt` on the `<source>` elements. I'd be surprised, though, if that hadn't come up before. (...digging through the list archive...)

[2014-11-28 13:39] anselmh commented on #254
I raised this concern I think years ago (was still in the beginning right after picture was proposed initially) and back then we kind of agreed that art direction shouldn't alter the alternative text of an image itself. I though still can imagine (as the examples of use cases show) that this could be useful sometimes.

I'm not familiar to the `@alt` CSS property but I could imagine this can help h

[2014-11-28 13:40] iandevlin commented on #254
Yeah, I mentioned that also on Twitter (https://twitter.com/iandevlin/status/538314872149540864), should have repeated it here, or perhaps create a new bug!

[2014-12-01 09:59] zcorpan commented on #254
The idea is that all images should express the same information. Therefore alt should be the same for all images, since alt should also express the same thing.

This is invalid since you don't express the same thing. If you want to show the town, don't crop away the town.

If you want to show different information for different environments, that is not what `picture` is intended to do.

This migh

[2014-12-01 10:04] iandevlin commented on #254
It's easy for you/us to say that what I gave as an example above is invalid, but what if it's not? Why should we force people to art direct so that the image shows the same thing?

"Do it with JavaScript" is not a valid answer in my opinion, there should be a native way of doing this, otherwise why bother with a native method for responsive images?

[2014-12-01 10:27] zcorpan commented on #254
We can't force people much of anything. What I meant is that the use case in this bug was not in the original set of use cases (http://usecases.responsiveimages.org), so it is quite intentional to not address it. If it turns out that many use it for something it was not intended and it's missing something important, we can re-evaluate, but it's not clear to me that we're there yet.

HTML is not ab

[2014-12-01 10:47] stevefaulkner commented on #254
On 1 December 2014 at 10:04, Ian Devlin notifications@github.com wrote:

specs describe conformance requirements (I think) intended to constrain
author use to practical application of the feature, given its limitations.
<picture> has the practical limitation that while devs can show 2
completely different images via art direction, they shouldn't because there
is no built in mechanism to providing

[2014-12-01 10:57] Boldewyn commented on #254
Well, it would surely be possible:

[code]

[code]

But you'd bind your markup semantics to the stylesheet...

For a JS solution: Is there no other way than inspecting `img.currentSrc` to tell which `<source>` is selected at the moment?

[2014-12-01 10:59] yoavweiss commented on #254
`currentSrc` is currently the only way to look into what was picked (and is changed after the image started downloading and its dimensions are known).

Is it not sufficient to cover the above use-case?

[2014-12-01 11:12] yoavweiss commented on #254
I agree with @zcorpan that if different alt are _absolutely necessary_ than you can provide that with JS (e.g. hang a `data-alt` on each `<source>` and have JS inspect `currentSrc`, find the source used, and switch the alt text).

I would also argue that there's no reason not to provide the user with the most descriptive `alt` on all viewport dimensions. The reason for art-direction is that the ph

[2014-12-01 12:12] anselmh commented on #254
True, but just for the record, a screenreader is only one of many accessibility use-cases. Thinking of contrast issues and similar I would still see it as helpful to provide different alt texts. But I can also agree with Steve that we probably shouldn't make the spec more complicated right now—and if it's just for the moment to get people used to the current spec.

[2014-12-01 17:08] mdmcginn commented on #254
I think Yoav has the right idea. Changing the viewport dimensions doesn't change the purpose of your web page. In my case, I want to display customized auto license plates. On wide screens, I show the license plate mounted on the back of the car, and on narrow screens I show just the license plate. What I want people to notice - what I want to say to them - doesn't change and neither should my `al

[2014-12-01 18:23] anselmh commented on #254
Dear @mdmcginn: Your first example doesn't relate to the use cases, it clearly isn't one that is meant here. It's all around the person containing stuff or if you want to describe something additionally as it's shown to the user. It's also not only about the alt text here but about captions which don't mean the image is not shown but means the image is shown. And as said, the accessibility use cas

[2014-12-02 08:05] yoavweiss commented on #254
To conclude:
- `alt` shouldn't be altered when the resource change, but even if there's a legitimate use-case for that, it can be resolved using a JS prolyfil.
- There seems to be a legitimate use-case for `<figcaption>` changes per source, but they're most probably not the typical-case. They can be resolved using a JS prolyfill or CSS hacks, and if we'd see they're wide-spread, we can consider ad

[2014-12-02 08:05] #254 closed, assigned to nobody

[2014-12-02 09:18] iandevlin commented on #254
Ok, for now.

I will build said polyfills and see how they go.

[2015-01-06 15:01] yoavweiss opened #255 "Add integrity values to srcset"
As part of the Sub-Resource integrity spec, the issue of integrity checks for image resources came up: https://www.w3.org/Bugs/Public/show_bug.cgi?id=27746

Can we take a stab at baking something like that into srcset?

[2015-01-06 15:02] yoavweiss commented on #255
/cc @mikewest @tabatkins @zcorpan

[2015-01-07 07:46] zcorpan commented on #255
The comments suggest it's too early.

[2015-01-07 13:45] aFarkas commented on #85
I actually like the idea of having an attribute called `aspectratio` on `img`/`source`. In case a developer has defined w and h descriptors for at least one candidate the aspectratio is defined implicit.

I also don't think, that this attribute doesn't work with x descriptors. While there are possibilities to define this with markup. We simply need either the width or the height. And for this we c

[2015-01-08 08:59] zcorpan commented on #85
In my opinion we should do what has the most chance of being used correctly most of the time even when the Web developer doesn't understand the details. In your example you don't need the aspectratio attribute at all, you can just say `height: 100px`.

[2015-01-08 10:44] aFarkas commented on #85
@zcorpan
Yeah, this is true. But only wanted to make an easy example how this should be calculated/interact with CSS.

Here are 3 different examples:

[code]

And I think this is quite easy. The developer will know what aspectratio means and at least if one side is defined the other one can be calculated.

In case an x descriptor is used and both sides are auto/initial the dimension can't be calcu

[2015-01-12 14:49] zcorpan commented on #253
I agree we probably shouldn't change the semantics here, it seems it could make it harder to understand what `w` is supposed to do. Possibly we could require the `sizes` attribute to be present?

[2015-01-12 16:58] tabatkins commented on #253
That would just effectively be making the default `sizes` 300px, no?  That was the initial behavior, but we changed it to default to `100vw` on purpose.

[2015-01-13 09:31] zcorpan commented on #253
No it would only be an authoring requirement, no behavior change.

[2015-01-13 09:40] sideshowbarker commented on #253
(The part about "authoring requirement" got my attention.) What precisely would that authoring requirement be? Under what conditions would the spec require the `sizes` attribute to be present?

[2015-01-13 10:50] zcorpan commented on #253
When the srcset attribute has `w` descriptors.

[2015-01-13 11:00] nemzes commented on #85
IMHO, there's one more reason to not rely on the `h` descriptor within `source` for this: the fact that it makes it easier to misunderstand the purpose of each descriptor. If I have the `h` option then I might be tempted to write this:

[code]

When what we want is to (gently) push authors to write this:

[code]

So, it makes it easier to get the art direction concern bleed into the wrong feature.

[2015-01-13 16:29] zcorpan commented on #223
It's not sync in Gecko anymore. I don't know when/why this changed.

It's not sync in Safari 8 (on Mac OS X 10.10.1).

It is still sync in Blink.

It's not sync in IE11.

Seems like the trend is towards async loading of `<img src=data:...>`. This happens to be what the spec requires already.

Another reason to avoid sync loading is that it would be blocking while decoding the image which can take

[2015-01-13 20:54] tabatkins commented on #253
Yeah, that's probably good as an authoring requirement.  While not technically required, if you leave out `sizes` it's confusing that using `w` makes your image full screen-width.

[2015-01-16 14:24] #253 closed

[2015-01-16 23:20] tigt commented on #86
+1 on adding an `h` descriptor. I'm working on a project where images would act like `contain` based on a larger container (to make a long story short, it's `<img>` inside `<foreignObject>` inside inline SVG), and height-constraining is critical.

[2015-01-17 18:06] anselmh commented on #86
Or in short it could become handy when `object-fit: contain` (or similar techniques as mentioned above) is in use. I think photo galeries are the main target for this.

[2015-01-19 14:24] #247 closed

[2015-01-20 11:11] zcorpan commented on #246
When images have different aspect ratio, both alternatives have potential to break the layout:

A http://software.hixie.ch/utilities/js/live-dom-viewer/saved/3375
vs
B http://software.hixie.ch/utilities/js/live-dom-viewer/saved/3376

I think showing the old image at the old dimensions is less disruptive.

If the author has set the height of the image, we get no change in behavior for A while B str

[2015-01-20 12:41] zcorpan commented on #230
I've filed https://www.w3.org/Bugs/Public/show_bug.cgi?id=27864 for the printing thing.

As for the rest of this bug, I think the spec should not give advice at all. Browser vendors are capable of figuring it out anyway and any advice in the spec is most likely not going to match any one browser, so it will only serve to confuse people. The spec already gives examples of what the browser can take

[2015-01-20 12:41] #230 closed

[2015-01-20 12:57] #228 closed

[2015-01-20 18:57] tabatkins commented on #246
You shouldn't be changing the aspect ratio with a srcset attribute; it violates the assumption that the sources are all the same image, just at different resolution.  Thus, for any decision we make regarding aspect ratios, we can ignore its effect on DPR-based switching, as it'll only have an effect when people are misusing the feature in ways that are broken on their face.

Thus, if A is better f

[2015-01-20 20:57] zcorpan commented on #246
Right but it can still change in size because of `sizes`.

`<img srcset="foo 200w, bar 400w, baz 800w" sizes="(min-width: 500px) 50vw, 100vw">`

When you cross the breakpoint, and need a bigger image, what do you do while it is downloading? Keep the old size? Continue to normalize the density with the new `sizes`? Or the old `sizes`?

In my examples you can increase the timeout from 1000ms to 2000

[2015-01-20 20:59] zcorpan commented on #246
(Actually the example in the chrome bug is simpler than that: `<img sizes="100vw" srcset="foo 800w, bar 1600w">`)

[2015-01-21 15:11] zcorpan commented on #157
The HTML spec now defines animation frames, and things can be synced with it. We could require that the "environment changes" algorithm be run in sync with animation frames. That would handle not running it when the page is in a background tab.

[2015-02-08 22:27] zcorpan opened #256 "Require default length in sizes (authoring req)"
See https://github.com/ResponsiveImagesCG/picture-element/issues/253

since we require the sizes attribute now because defaulting to 100vw is unexpected, do we also want to require a default length for the same resaon?

maybe people will write media-conditions that are mutually exclusive, in which case a default length is not needed ? We could make it a parse error if the algorithm falls back to 1

[2015-02-10 01:41] zcorpan commented on #256
I'm leaning towards the simplest option, change the grammar to require the default length.

[2015-02-10 16:49] yoavweiss commented on #256
If we're changing the grammar, it'd also change the processing model, not just the authoring requirements, right?

What should the browser do if the default length is not there?

[2015-02-11 16:43] zcorpan commented on #256
No need to change the processing model.

[2015-02-13 10:37] yoavweiss commented on #256
OK

[2015-02-13 19:06] #256 closed

[2015-02-16 13:18] aFarkas opened #257 "media-condition/mediaquery changes should only affect images in document"
Currently if a ``picture``/``img`` is removed from DOM, viewport changes are triggering downloads for these elements. See also [corresponding chrome bug ticket](https://code.google.com/p/chromium/issues/detail?id=458794).

In case of a SPA or AJAX driven website, this yields to a) a lot of memory consumption and b) a lot of network traffic for images, that are removed long time ago.

The spec shou

[2015-02-16 13:33] yoavweiss commented on #257
Note that in some scenarios that may not be the desired behavior: e.g. authors may want to remove the element from the DOM only to bring it back into the DOM later one, with the right resource already loaded.

Also, in the current situation, authors can remove the HTMLImageElement from the inside of HTMLPictureElement to make sure viewport changes don't trigger a resource load.

With that said, I'

[2015-02-16 13:39] yoavweiss commented on #257
Also, seems like the spec has no guidance regarding viewport changes and their impact on triggering resource loading: https://github.com/ResponsiveImagesCG/picture-element/issues/157

[2015-02-16 14:25] pjm4 commented on #257
FYI - the use case where this is happening is a single page application where the user is moving from a list view to a detail view that displays a responsive image. I remove the detail view after the user returns to the list view. It was at this time that I noticed that the picture element in the view I removed kept firing when I resized the page. My main concern is that the browser was not releas

[2015-02-16 16:01] yoavweiss opened #258 "Responsive video posters"
Blink are [shipping](https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/mC46k9xmA90) a syntax for poster images for plugins.
As part of that, a discussion developed regarding support for different form factors and different resolutions.
The folks there are keen on adopting the srcset syntax for the job, and I think it makes perfect sense.

A few questions remain:

* Should that synta

[2015-02-17 09:21] zcorpan commented on #257
Removing an element from the document (or inserting it to the document) doesn't change the viewport. It's also not a "relevant mutation" (unless you remove/insert `img` from/into a `picture`).
https://html.spec.whatwg.org/multipage/embedded-content.html#source-size-2

Moving an element from one document to another is a "relevant mutation" (last bullet point).
https://html.spec.whatwg.org/multipage

[2015-02-17 09:37] yoavweiss commented on #257
@philipjmurphy The memory concern is probably a viable one, but can probably be addressed by removing the `<img>` element from its picture parent and removing its `srcset` attributes. The UA should use that to remove any internal references to these objects that were kept for viewport change notification purposes.

[2015-02-17 10:29] aFarkas commented on #257
To be honest, I don't really understand @zcorpan comment. I know that removing an image or a picture image construct from the document is not a relevant mutation.

However - if an img or picture/img construct is removed from the document and even if there is no reference from JS land to this DOM object or its ancestors - Chrome still references it and still runs the source selection algorithm for

[2015-02-17 10:50] yoavweiss commented on #257
@zcorpan's suggestion on IRC to use weak references to the keep track of nodes for viewport notifications purposes can probably do the trick.
So, this is not a spec issue. Let's continue this on Chrome's bug tracker. Closing.

[2015-02-17 10:53] zcorpan commented on #257
Oh I probably misunderstood what was meant by "viewport changes". I thought you meant that removing an element from the document would associate the `img` with a different viewport. But I understand now you meant that when the viewport changes its width, it also affects `img` elements that are not in the document. This is intentional; if you have a reference to the `img` element, it should continu

[2015-02-17 13:19] zcorpan commented on #257
@aFarkas

[2015-02-17 13:27] zcorpan commented on #257
The HTML spec sometimes has requirements about garbage collection where it is not obvious, e.g. WebSocket. We can certainly do it here also.

We can also tweak the rules so that it becomes possible to garbage collect `img`s without ongoing fetches even if they have `load`/`error` listeners, but ideally I think we shouldn't break out-of-document `img`s from "working". Maybe an OK tradeoff is to hav

[2015-02-17 16:18] iandevlin commented on #258
I think that if you're going to start supporting responsive video poster images, then you need to think about responsive video too. You can't make the images responsive and then ignore the videos.

I would be all for using the good work done on picture and srcset to be also applied to video (and audio) by the way.

[2015-02-17 16:21] aFarkas commented on #257
Correct me if I'm wrong. I thought, that added event listeners aren't taken into account by garbage collectors (only in old IE, if there is a circular reference). Therefore if there is a listener added to the element and there is no (other) reference, the element will be garbage collected.

If it wouldn't be garbage collected, I'm fine  with both ways you described above. But if it would be garbag

[2015-02-17 18:11] tabatkins commented on #258
@yoavweiss: I agree that supporting the srcset syntax works well.

If we support w, are you just gonna assume that the size to resolve against is 100vw?  If so, all right, but it seems a little weird.  I'd rather support `sizes` or not support `w`.

`<video poster>` would probably be good too.  I'll betcha we can just upgrade it in-place, yeah?  Technically the syntax space is already swallowed up

[2015-02-18 06:38] yoavweiss commented on #257
On the one hand, maybe the author just took the image out of the document in order to later add it in a different location, expecting it to keep itself up-to-date with the current viewport dimensions?

On the other hand, if we'd rely only on weakrefs and GC in order to avoid downloads here, we will probably end up with a racy experience, where the resources are sometimes downloaded and sometimes a

[2015-02-18 07:41] zcorpan commented on #258
There is a standard already for automatic quality-switching video. It's called DASH. :) It's possible something more would be useful, but we should reason about it separately and look at its use cases and requirements, not just throw something in and hope the outcome will be good or hold `poster` hostage until videos are responsive.

I don't mind supporting srcset syntax in `video poster`, if web

[2015-02-18 08:03] zcorpan commented on #257
Possibly event listeners are not relevant for `img`, but we need to at least avoid GC while there are outstanding fetches. It should be possible to create an `img` and not store a reference to preload an image, for instance. And if there are listeners, they should be invoked.

[2015-02-18 08:19] #257 closed

[2015-02-18 08:23] zcorpan commented on #257
I haven't specified anything specific about GC, but technically it's not necessary. I think it's more useful to spend the time writing test cases.

[2015-02-19 08:50] zcorpan commented on #258
In httparchive, 1942 pages use `<video poster>`, 3 pages have spaces in the URL. 0 have comma at the start or end. So it will break a non-zero amount of pages, but it seems OK since a poster image isn't critical, and it's ~0.00% of the pages in the data.

[2015-02-19 15:53] tabatkins commented on #258
Thanks for the data, @zcorpan!  Looks like we'd be safe to upgrade in-place, then.

[2015-03-11 01:14] yoavweiss opened #259 "Image density API"
Just to track http://ircbot.responsiveimages.org/bot/log/respimg/2015-03-05#T116933 :
We've discussed adding a way to get/set an image's density from script, and concluded that it'd be awesome if @tabatkins would add it :)

[2015-03-11 01:25] yoavweiss commented on #243
@aarongustafson - Can you share real-life use-cases for this?

I'd prefer not forcing authors to got through data-URI copy-pasting for valid use-cases.

Reopening, since I think we need to discuss this some more.

[2015-03-11 01:36] yoavweiss opened #260 "Placeholders"
In http://ircbot.responsiveimages.org/bot/log/respimg/2015-03-05#T117041 we discussed adding some way for browsers to load a poor-quality image first, trigger onload, and then lazy-load a higher-res resource.

A similar concept is also being discussed in https://code.google.com/p/chromium/issues/detail?id=464849

I'm not yet sure what's the best form of that should be (opt-in/out, trigger onload f

[2015-03-11 07:47] attiks commented on #243
FYI: We had similar request for our [Drupal 7 picture module](https://www.drupal.org/project/picture) and we added an option so people could select 'empty image', in the back we output a data-URI, but I agree doing this by hand is optimal.

I think their main use case was to be able to hide certain image fields on smaller viewports.

[2015-03-11 14:39] eeeps commented on #260
(Am I supposed to get a 403 Forbidden at the Chromium issue link?)

Why not just use JavaScript for this, like, say, [NPR](http://www.npr.org) does now? The big reason I see: you don’t get to leverage the browser’s `srcset` picking logic for the upgrade, which is potentially much more intelligent/informed and almost certainly far more reliable than whatever you’re rolling on your own. If enough pe

[2015-03-11 14:44] yoavweiss commented on #260
No you're not. I hope it'd get open to the public soon. (No idea why it was closed to begin with, but no permissions to open it myself)

[2015-03-11 14:48] yoavweiss commented on #260
A ton of people _are_ using JS for that. What we (ideally) want is for the browser to use its srcset info in order to lower a low-res placeholder (the 0.1x image, if you will) instead.

Again, not sure what the specifics should be, but I think we should discuss it.

Yup. (to both it being perfect and more complicated :D )

[2015-03-11 17:04] yoavweiss opened #261 "Should attribute removal be sync?"
Bumped into a Blink bug where attribute removal fails to update width/height synchronously (or at all :/).

Since there are no advantages of making the "update the image data" phase async for this, I suggest we make this phase sync in that case.

@zcorpan - WDYT?

[2015-03-11 21:01] yoavweiss commented on #261
This broke a bunch of [tests](http://build.chromium.org/p/tryserver.blink/builders/linux_blink_rel/builds/51868) which made me think it might not be Web compat. Let's further discuss to see if it's a good idea or not.

[2015-03-12 10:52] zcorpan commented on #261
WebKit keeps showing the old image when removing the src attribute.
Blink keeps showing a frame of the same size of the image.
Gecko sync removes the image.
IE11 sync removes the image.
http://software.hixie.ch/utilities/js/live-dom-viewer/saved/3450

When srcset is also present:
WebKit keeps showing the old image until the new one is loaded.
Blink: same
Gecko: same
http://software.hixie.ch/utilit

[2015-03-12 11:59] zcorpan commented on #261
Do we want to abort the pending request sync when src is removed? Looking at the Network tab in devtools, it seems like Gecko does.

http://software.hixie.ch/utilities/js/live-dom-viewer/saved/3452

I think it might be bad to abort requests sync here, since the script might not be done with whatever it's going to do. For instance, consider a script that wants to "upgrade" an `<img src>` to `<img s

[2015-03-12 12:50] zcorpan commented on #259
Dup of https://github.com/ResponsiveImagesCG/picture-element/issues/252 ?

[2015-03-12 13:40] aarongustafson commented on #243
I am working on the use case piece and will post here as soon as it's ready.

On Wednesday, March 11, 2015 at 12:47 AM, Peter Droogmans wrote:

[2015-03-12 16:02] yoavweiss commented on #259
Yup. Closing

[2015-03-12 16:02] #259 closed

[2015-03-12 21:03] yoavweiss commented on #261
The first step is probably to try to align that code with Gecko/IE in both Blink and WebKit, and see what breaks and why. I'm looking into that. Will report back.

[2015-03-12 21:41] attiks opened #262 "Chrome renders image at viewport width"
This was reported on https://www.drupal.org/node/2449033 and sounds like a bug.

Renders at 100% viewport width
[code]

Renders at native image width

[code]

[2015-03-12 21:53] Nephyrin commented on #261
FWIW the current Gecko behavior is to behave synchronously if: We have no `srcset` and aren't in a `<picture>` _and_ there is no queued update the image data task.

https://dxr.mozilla.org/mozilla-central/source/dom/html/HTMLImageElement.cpp#896

[2015-03-12 21:55] Nephyrin commented on #261
See also [Mozilla bug 1076583](https://bugzil.la/1076583)

[2015-03-12 22:04] aFarkas commented on #262
The default/fallback value  for `sizes` is `"100vw"`, so no bug.

[2015-03-12 22:08] attiks commented on #262
@aFarkas you're right, thanks

[2015-03-12 22:08] #262 closed

[2015-03-13 18:26] tabatkins commented on #260
I agree with this use-case, and think we should address it.  Summarized, it's:

This needs to be an opt-in rather than an automatic behavior from the browser because some use-cases do want the high-quality image immediately; if you're going to draw it into a `<canvas>`, for example, you want the onload event to tell you when the "proper" resource is loaded, not the shitty `.1x` version.

[2015-03-13 22:30] eeeps commented on #260
Do we need to wait for (or instigate) resource priorities work to start working on this?

This would pair nicely with the measuring-`sizes`-directly functionality that’s been tossed around as certainly useful but problematically racy, recently.

And let me put the cart before the horse and propose that if we end up using a markup token for this, it be named after `lowsrc` of yore.

[2015-03-13 23:25] tabatkins commented on #260
I don't think this is tied to resource priorities.

I agree that having it tie into the sizes-based-on-layout functionality would be interesting; integrating it syntactically would probably be a good idea.

`lowsrc` doesnt' seem like a great idea to me; it implies that it should take a url as its value, when all we need is a flag indicating that the browser should choose a lower source from its ex

[2015-03-16 07:30] zcorpan commented on #261
@Nephyrin thanks. Can you give an example of there being a queued update the image data task?

[2015-03-16 07:35] zcorpan commented on #261
The spec already does that when setting src to a value that is in the "list of available images", and the same reasoning applies there. Possibly we could defer the request abortings until after step 6 in that case also. WDYT?

[2015-03-16 17:01] Nephyrin commented on #261
I believe something like:

[code]

Removing `src` will queue a task, whereas:

[code]

Would remove src synchronously, as the task had run and the tag now considered itself "non-responsive". Some of this logic was to prevent changing event ordering when `<picture>` or `<img srcset>` were not involved, to be followed up on in [aforementioned bug](https://bugzil.la/1076583) to remove any that old be

[2015-03-17 08:26] zcorpan opened #263 "load event when setting src to a cached URL"
http://software.hixie.ch/utilities/js/live-dom-viewer/saved/3459

The spec says to fire the load event sync, but no browser seems to do that. Should change it to queue a task to fire the load event.

[2015-03-17 08:31] zcorpan opened #264 "Defer aborting requests when settings src to a cached URL"
See https://github.com/ResponsiveImagesCG/picture-element/issues/261#issuecomment-81466242

A design goal of the "update the image data" algorithm is that it should not matter in which order a script does something (modulo Web compat). However, when setting src to a cached URL, the spec says to abort the current and pending requests. If the script then goes on to add a srcset attribute or insert t

[2015-03-19 12:03] zcorpan opened #265 "Responsive image maps"
See https://lists.w3.org/Archives/Public/public-whatwg-archive/2015Mar/0066.html and replies

On Wed, 18 Mar 2015 16:50:56 +0100, Martin Janecke <whatwg.org@prlbr.com> wrote:

On Wed, 18 Mar 2015 17:22:47 +0100, Andrea Rendine <master.skywalker.88@gmail.com> wrote:

[2015-03-19 13:53] nwtn commented on #265
See #28 and #171 for some previous discussion

[2015-03-19 21:32] Pshem opened #266 "Add support for logical operators in media queries passed in sizes strings"
As a developer, I'd like to be able to use logical operators in media queries passed in "sizes" strings.
E.g.:
[code]

This works natively in latest Chrome release.

W3C specs do not and probably will not disallow this:
http://www.w3.org/html/wg/drafts/html/master/semantics.html#attr-img-sizes

Plus it complies with current & future MQ specs:
http://drafts.csswg.org/mediaqueries/

[2015-03-19 21:53] tabatkins commented on #266
This is already allowed per spec, because we just reference `<media-condition>`, and that's defined in MQ4 to allow boolean algebra.

[2015-03-19 21:53] #266 closed

[2015-03-24 15:09] zcorpan commented on #265
https://lists.w3.org/Archives/Public/public-whatwg-archive/2015Mar/0141.html

[2015-03-29 19:38] BenRacicot commented on #243
I had opened up a [SO](http://stackoverflow.com/questions/26574422/how-do-i-tell-srcset-attribute-to-load-no-images-when-viewport-smaller-than-cert/29329357#29329357) question about this very thing and have ended up here. I believe the best use case is that on some devices (mostly mobile) you will want to load/parse/cache no image. This would not be a display:none; situation. It would need to be a

[2015-03-30 07:23] zcorpan commented on #243
@BenRacicot thanks. You say what your wanted behavior is, but I also want to know _why_. Is it only to save bandwidth? Is it only to save space? (If the former, why not show the image if it's already cached?)

Can you elaborate on why "This would not be a display:none; situation. It would need to be an `<img src="">`."? Do you want alt text to show up? Broken image icon?

[2015-03-30 12:35] BenRacicot commented on #243
Hey @zcorpan ,
Yeah so my goal is to be able to save bandwidth on mobile's, as of now there is no way to do so. Obviously display:none; still downloads the image.

Once an empty img src loads, we could then define via CSS if the img tag itself is display:none; to hide alt text etc.

I found it surprising that this isn't even an option right now.

[2015-04-02 11:09] zcorpan commented on #243
@BenRacicot OK, it seems you are reasoning around the current behavior of only setting display:none. But we're here to change the spec. We can make no image be loaded _and_ hide the image (as display:none), if that is the behavior that we want. Or not hide the image by default, if that's better. This is why I want use cases and actual examples.

Also see https://github.com/ResponsiveImagesCG/ri-us

[2015-04-02 12:37] BenRacicot commented on #243
Ah I see. Yes a UI Developer I am sometimes tasked with site speed. Loading smaller images on mobile devices is great for reducing size but sometimes actually omitting content on these devices is preferred.

So regularly I believe developers would utilize loading nothing on mobiles, a medium sized image on tablets and large on desktops.

Please let me know how else I can help.

[2015-04-07 10:59] zcorpan commented on #265
Not enough impl interest to spec this. If anyone wants to implement, please speak up.

[2015-04-22 14:25] Wilto opened #267 "Writing to `currentSrc`"
An issue with Picturefill’s support tests (prior to 2.3.1) meant that some browsers with native support for `currentSrc` but no support for `picture` would throw an exception when Picturefill attempted to write to it. This has been addressed in Picturefill, but it’s likely to be a problem for anyone using a version prior to 2.3.1 as new browsers ship without the full respimg suite but _with_ `curr

[2015-04-22 14:40] aarongustafson commented on #267
It seems like a naturally read-only property to me.

On Wed, Apr 22, 2015 at 10:25 AM, Mat Marquis notifications@github.com
wrote:

[2015-04-22 15:41] nwtn commented on #267
Doesn't writing to `src` already overrule all the `source`/`srcset` stuff? How would writing to `currentSrc` differ?

[2015-04-22 19:05] tabatkins commented on #267
No, there's no reason whatsoever to make it writeable.  It's a convenience property for reflecting the result of a computation in the engine, not an actual attribute of anything.

[2015-04-23 12:55] zcorpan commented on #267
No, it just sets the `src` attribute. That invokes the "update the image data" algorithm, but that will select the appropriate candidate normally, not ignore everything but `src`.

[2015-04-23 12:56] #267 closed

[2015-04-23 14:16] Wilto commented on #267
Yeah, I got nothin’ on this either.

[2015-05-19 14:44] yoavweiss commented on #157
@tabatkins - any news on that old bug? I believe current behavior in Blink and Firefox matches what we want to define here, but it'd be good to actually have it in the spec ^_^

[2015-07-03 09:22] yoavweiss opened #268 "The `width` attribute"
During discussions about Client-Hints, where it makes sense to include the `width` attribute in the outgoing `Width` hint, since it can be useful to retrofit responsive images to legacy sites, @foolip suggested that it may make sense to include the same logic in srcset, and I think it makes a lot of sense.

Basically, the same logic applies. If `sizes` is missing and `width` is there and contains

[2015-07-03 10:58] foolip commented on #268
My main concern here is that it would be nice if the computed `source-size` is the same as what is sent in the `Width` header. (Which is exactly the suggestion, of course.)

[2015-07-03 19:17] joemcgill commented on #268
If I'm understanding the suggestion properly, i.e., use the width value as the default `source-size-value` instead of `100vw` if the value is present (and a non-% value), then I'm mostly in agreement, and this is basically the logic we use to create a "smart default" for the sizes attribute in the WordPress plugin (see: https://github.com/ResponsiveImagesCG/wp-tevko-responsive-images/issues/34).

[2015-07-06 06:19] yoavweiss commented on #268
Thanks @joemcgill  :)

The change I'm proposing only relates to the `width` HTML attribute, so a `max-width: 100%` setting won't have any impact.

[2015-07-06 21:01] joemcgill commented on #268
Right, I understood, but was probably unclear in my description. I just meant that if an inline `width` attribute is used as a default when `sizes` is omitted (in the case of extending this logic to `srcset` calculations), then it may be preferential for the consumer to only use the `width` value when it's smaller than the viewport width.

[2015-07-07 10:00] aFarkas opened #269 "Add a ``pendingSrc`` or ``selectedSrc`` property"
Currently there is the ``currentSrc`` property to get the URL of the current request.

In most use cases where there is also a pending request, the ``currentSrc`` isn't that interesting anymore, because it will change soon. It would be great to also have an API to get either the URL of the pending request (i.e.: ``pendingSrc``) or a property that returns either the pending request if it is not nul

[2015-07-07 10:25] yoavweiss commented on #269
It'd be great to document these use cases, first here and eventually in the use cases document.

[2015-07-07 11:10] aFarkas commented on #269
I'm not so good in producing good use cases, but I would argue, that 90% off all use cases for the current `currentSrc` implementation could be better solved with a `selectedSrc` property.

Here is an [example using  `currentSrc`](https://github.com/desandro/imagesloaded/issues/166) from the use case you see, that the author actually would something like `selectedSrc` or the mix of `pendingSrc` wi

[2015-07-09 21:38] zcorpan commented on #269
Do you want to be notified when a new candidate is selected? If so, maybe an event is better than a property. This is why we need use cases. :-)

[2015-07-09 22:09] aFarkas commented on #269
An additional event would make this awesome (in case the `loadstart` event is fired to early), but it is still about a property that immediately  reflect **what** the browser has selected.

Do you have any use cases for `currentSrc`? Because as I said, I think most use cases for `currentSrc` could be simpler solved with `selectedSrc`.

I think I saw a code example (by yoav), showing this:

[code]

[2015-07-09 22:12] aFarkas commented on #269
Just to end this.

In case we would have `pendingSrc` a reliable code example would look like this:

[code]

And in case we have `selectedSrc` it would be very easy:

[code]

[2015-07-13 20:51] albell commented on #269
+1. The use cases would be polyfills and highly customized layout behaviors. For example the author needs to do custom positioning for an overlay over an art-directed image.. `currentSrc` doesn't provide any information about impending changes. One might think that it updates synchronously but it doesn't. An author might want fine-grained control over what is displayed in the interim period while

[2015-07-28 04:03] progers commented on #223
Does a spec require synchronous loads? The html5 spec seems to imply synchronous loads are cool:
"A user agent that obtains images immediately must synchronously update the image data of an img element..."

Safari will synchronously load images (datauri or not, so long as they are cached) on refresh:
http://jsfiddle.net/jfe3r3nb/4 (refresh twice)

For this reason, sites must have code to support s

[2015-07-28 06:55] yoavweiss commented on #223
[update the image data](https://html.spec.whatwg.org/multipage/embedded-content.html#update-the-image-data) runs synchronously, but inside it, image load is async, unless the image is in cache (see 5.3).
With that said, we could change the spec if we think it's beneficial.

Yeah, if the image is in memory cache, it will be sync loaded (and I believe sites rely on that behavior, so we cannot remove

[2015-07-28 06:56] yoavweiss commented on #223
As a reference, we've [been discussing](https://codereview.chromium.org/1256233002/) turning data URI resource load to async in Blink

[2015-09-15 23:43] igrigorik commented on #268
_bump_ ... any blockers to resolve this? This is an important feature for Client Hints.

[2015-09-16 00:13] tabatkins commented on #268
I'm down with this.  It makes sense to me.

[2015-09-16 10:29] zcorpan commented on #268
OK with me, but we should ignore it when it uses percentages (since it refers to containing block, and it's invalid anyway). Also I'm not sure I like @joemcgill's idea to have the viewport width be an upper bound, that seems unnecessary magic that could get confusing results, especially for Client Hints. You can still achieve the effect by using the `sizes` attribute, but then it's explicit and in

[2015-09-16 11:58] joemcgill commented on #268
I agree. Probably best to keep things straightforward.

[2015-09-21 14:21] #268 closed

[2015-10-02 08:07] Tigt opened #272 "URL interpolation?"
This is a pretty odd idea, but with enough examples in the wild by now, it's starting to seem more plausible.

Basically, when people use `<picture>` and `srcset` to point at various image URLs, they very often do so in a regular way, which aids with debugging and developer mental overhead. So you see a lot of URLs constructed like `filename.{width}.{file-format-suffix}`.

When invoking the full,

[2015-10-02 08:18] yoavweiss commented on #272
We've already been down this path multiple times, and got back beaten each time :)

I don't think this resolves any real problem that server-side/build-time templating and gzip can't already resolve.

If one were to tackle URL templating (or templating in general) as part of HTML, it shouldn't be something that's respimg specific.

[2015-10-02 14:29] tigt commented on #272
Makes sense. An HTML-wide URL template mechanism does sound like a better idea. `<form template>` or something.

Thanks for the info!

[2015-10-02 15:15] yoavweiss commented on #272
Closing.

Also, if one were to try and tackle HTML-wide URL templating, the [WICG](https://discourse.wicg.io) is probably the right place to try and get some traction for it `</shameless-plug>`

[2015-10-02 15:15] #272 closed

[2015-10-13 23:42] aFarkas opened #273 "Possibility to mark image candidate as high compressed"
It would be nice to have a descriptor that marks an image candidate as high compressed (following the compressive images pattern).

For brevity also an attribute, that marks all candidates inside of a `srcset` as high compressed would be nice.

Use case:
1. High compressed images look good on high DPI devices and have much lower file size.
2. By using high compressed images low DPI and high DPI de

[2015-10-15 20:59] tabatkins commented on #273
Yeah, this ties into earlier ideas that the `x` descriptor, while useful, assumes that the filesize scales in relation to it; having the ability to explicitly specify the filesize and use that as input to the selection algo might also be useful to reflect techniques like this.

Can you just, for example, use a single 2x source or something?  Can you provide an example of your `<picture>`-based cod

[2015-10-15 21:48] aFarkas commented on #273
I basically came up with two ideas:

[code]

And:

[code]

Filesize descriptor or a quality level descriptor sounds interesting.

[2015-10-23 11:33] ckrack commented on #86
+1 for adding `contain` / `cover` keywords.
I am not sure an `h` descriptor is necessary if we have those.

[2015-10-23 14:58] tigt commented on #86
It's possible to hack this logic in today, but [it's ugly](http://codepen.io/Tigt/post/when-responsive-images-get-ugly#height-and-width-constrained-srcset).

[code]

[2015-11-18 18:01] neptunian commented on #86
+1 for h in srcset on the img tag.  The browser currently fetches the wrong image for a height constrained Lightbox viewer which, of course, isn't meant to scroll.  h is the height of the viewport.  In order to find best size and only providing widths i have to calculate the best width myself.

[2015-12-07 11:57] yoavweiss commented on #223
dataURIs are now loaded async in Blink, which according to https://github.com/ResponsiveImagesCG/picture-element/issues/223#issuecomment-69772765 they are async everywhere. Closing

[2015-12-07 11:57] #223 closed

[2015-12-07 11:59] yoavweiss commented on #223
Correction: They may not be async in WebKit (as image loading is still sync there in general), but that would hopefully soon [change](https://bugs.webkit.org/show_bug.cgi?id=134488).

[2015-12-07 17:42] yoavweiss opened #274 "Node removal should not trigger "update the image data""
Following an IRC [discussion](https://ircbot.responsiveimages.org/bot/log/respimg/2015-12-07#T153851) I don't think that node removal should trigger the "update the image data" algorithm as it may trigger spurious downloads, and there's no real benefit in doing that.

Once the image is removed from the picture parent, nothing will be displayed. Also, once it will get added elsewhere, "update the i

[2015-12-07 17:42] yoavweiss commented on #274
/cc @zcorpan

[2015-12-07 20:32] zcorpan commented on #274
It might not be displayed but it can be painted on a canvas and its `naturalWidth` etc can be read. I'm not convinced we should complicate this. Is it a problem in practice? The "relevant mutations" are intentionally pretty dumb to be more likely to be interoperable.

[2015-12-07 20:41] yoavweiss commented on #274
I'd argue that it's more likely that a subtle "removing `<img>` from one parent and adding it to another" will cause spurious downloads than it is that handling of a detached img node would result in the wrong image being displayed by accident.

[2015-12-07 21:19] yoavweiss commented on #274
More [irc discussions](https://ircbot.responsiveimages.org/bot/log/respimg/2015-12-07#T153914) lead to the conclusion that the above scenario won't trigger spurious downloads if done in the same script, but the "removed an `<img>` and forgot about it" would.

[2015-12-07 21:22] yoavweiss commented on #274
A way to resolve this would be to "update the image data" with a null "selected source" in the removal scenario.

[2015-12-07 21:53] zcorpan commented on #274
That would mean an extra flag to "update the image data", and check it in step 3 and 8. Step 9 would then set the image to the broken state and fire an `error` event. (Maybe we should avoid the `error` event also?)

[2015-12-07 21:55] yoavweiss commented on #274
Yeah, avoiding the `error` is probably better

[2015-12-07 21:56] zcorpan commented on #274
But that would still leave the image broken if you insert it to the document again... I'm still unconvinced we should change things here.

[2015-12-27 21:13] igrigorik commented on #252
_bump_ ... any blockers for making this happen?

[2016-01-04 10:45] zcorpan commented on #252
It's not clear to me that Client-Hints will be adopted by all browsers. I would recommend monkey-patching HTML in the CH spec for the header part for now.

The JS API can be added, but I don't know what behavior you would like it to have. Should the default be a special "auto" value that has today's behavior, and if you set it to a number, that number gets used even if a new resource is selected?

[2016-01-08 00:05] igrigorik commented on #252
@zcorpan monkey patch HTML spec from an IETF doc? Yikes.. If anything, I think it would make sense to do the reverse: move `Content-DPR` from CH into HTML spec. It came about because we first stumbled into the need for this when working on CH, but it's useful (and needed) outside of CH - e.g. you're serving assets from a ServiceWorker and need to communicate the DPR of the asset, such that it's di

[2016-04-21 12:23] COLABORATI commented on #243
It is not clear for me how this discussion ended and I can not find any hints in the docs about how to NOT load images on e.g. smaller screens. This is a very common use case, did this really find no way into the specs?

[2016-04-21 15:08] BenRacicot commented on #243
@COLABORATI I agree. All went quiet exactly 1 year ago. I'm still very surprised that loading no image on mobile is not part of the specification for `<picture>` or `srcset`. Since it is not, argument can be made that these tags are more meant for artistic direction than performance because if performance was a factor they've left out the most common performance gain on mobile, which would be load

[2016-04-21 22:47] COLABORATI commented on #243
OK, wait - I want to be really sure that I am not misunderstanding things here.
So is it correct to write: "Currently the responsive image specs include no way to _not_ load images on smaller screens" ?

Yes, I found the SO question mentioned here, that feels a little hacky, but it seems to work. However, an official way of doing that would be nice. Such a long process and they really missed that?

[2016-04-22 10:36] zcorpan commented on #243
Yep. Lots of things are missing! Baby steps, we can't do everything at the same time. This use case was not considered a requirement (more "nice to have"), and e.g. @Wilto above disagreed we should have it at all. Maybe the time is ripe now to try again, though; it's not too late to add things. I recommend checking if an implementor is interested in working on it (we have @yoavweiss in this thread

[2016-04-22 11:44] COLABORATI commented on #243
I see no logic in the argument of @Wilto at all  - in a normative discussion it does not matter if a picture is considered "decorative" or not - the discussion should be based on facts and requirements, not speculations about the designers decision process.

Fact is that it is a good recommendation to load as few pictures as possible for mobile users - but of course on a full hd desktop screen eve

[2016-04-22 13:19] yoavweiss commented on #243
I'm in favor of implementing this assuming compat and back compat is not at risk.

@benracicot: can you share a site (or several) that currently use the data uri hack? (So we can have a better understanding of the use case)

[2016-04-22 13:44] yoavweiss commented on #243
I'm in favor of implementing this assuming compat and back compat is not at risk.

@benracicot: can you share a site (or several) that currently use the data uri hack? (So we can have a better understanding of the use case)

[2016-04-22 13:52] aFarkas commented on #243
@yoavweiss

I'm not sure what the plans are, but I would say compat is at risk, if this is done without any special boolean attribute.

If you think of lazysizes you might have the following markup:

[code]

Now we have a matching source without a `srcset`. As I understand this issue correctly, in this case the image should become `display: none`?

[2016-04-22 14:13] yoavweiss commented on #243
No one's discussing implicitly setting `display: none` afaict. I don't think that the above case poses a backcompat risk, as no resource will get picked either way.

A case where `<source>` had no srcset and the expectation is that it will be skipped (and a `<source>`/`<IMG>` will be picked) will pose a risk. Not sure that case is prevalent (never seen one)

[2016-04-22 14:57] BenRacicot commented on #243
@yoavweiss I believe it was @attiks that has a `data-attr` hack-fix with their Drupal module.

I agree with your above backwards compat case. It seems that since this thread's proposed 'empty src loads no image'  was not the original implementation the behavior currently does load the default `img` tag's `src` image. See code below or this [plnkr](http://plnkr.co/edit/pK1MIukoRUkn6pVW06mv?p=catalo

[2016-04-22 17:53] aFarkas commented on #243
@yoavweiss
@zcorpan brought up the question:

[2016-04-22 19:55] zcorpan commented on #243
I'm not sure what you mean by "404 the image". But the correct behavior for `<img src="">` is to not load anything and fire an `error` event.

I wouldn't mind adding a new attribute like `nosrc` to `source` to opt in to this behavior (and maybe honor it even if `srcset` is also specified, to provide a data: URL GIF for current-era browsers). I suggest rendering it the same as `<img alt="">` (so it

[2016-06-28 19:52] zcorpan commented on #85
This issue came up recently on www-style:
http://www.w3.org/mid/CADBHO9Gcoujsk9OWGb0YZVZYxSwpdDFbB66UEG4N19YJ3jKG0g@mail.gmail.com

cc @oliverjash @rachelnabors @una @AmeliaBR

[2016-11-02 16:34] jeremyzahner commented on #243
@BenRacicot

Actually, since if there is no image present, no network request would be made. Since 404 is a http networking status code (you could say) we are not talking about 404 here in any way.

[2016-11-02 16:40] jeremyzahner commented on #243
@Wilto Makes an entirely valid point. By all meanings, we should probably respect the picture elements presence as what it is: a picture. That (at least to me) means, that network traffic itself can be no argument on changing the spec for that particular element. So, in my opinion, this discussion should be about browsers loading sources for images that are not displayed (aka: the display: none; p

[2016-11-02 20:18] aarongustafson commented on #243
I would agree with @Wilto that **we should never hide real content from folks**, but then there’s the judgement of when is image content nice-to-have vs. integral to the content.

The case I’d give is a (relatively) common one: a newspaper homepage. On a large screen where there is a lot of competition for your eye, using thumbnails can draw your eye to the most important story teasers, but that i

[2016-11-03 11:58] RicoBrase commented on #243
Agreeing with @aarongustafson.

I'm from germany, it's actually very common here, that our mobile data plans have a limited volume. If that is used up, our speed is reduced from 4G/LTE/whatever to about 16-64kbit/s (depending on the provider). Therefore it would be actually quite useful to stop loading images right away.

I would prefer using an optional `no-src` attribute:

[code]

The default be

[2016-11-03 12:03] jeremyzahner commented on #243
@RicoBrase Isn't that what the CSS visibility property is for? 😄

@aarongustafson You are totally right. I'm just not sure if this use case should be solved by the picture element itself. Since the use case is heavily based upon the context (content vs. nice to have), shouldn't it be solved in the context (by CSS for example)?

[2016-11-03 12:08] RicoBrase commented on #243
@jeremyzahner As long as that is considered for the browser to be "visible to the user" and loads the image initially, than yes, you are right. :wink:

(Just assuming your idea would be actually used by a current browser.)

But that's another topic basicly and should not belong here. :wink:

[2016-11-03 12:13] jeremyzahner commented on #243
@RicoBrase Actually visibility is not my idea, it has been in the spec for a long time.

https://www.w3.org/TR/CSS2/visufx.html#visibility

I'm not quite sure on image loading behaviour by current browser concerning visibility.

If we might come to the conclusion that some issues should be solved by another spec rather than this one, than that point belongs here (i guess?).

[2016-11-03 12:41] RicoBrase commented on #243
@jeremyzahner

I know that there is a css property called 'visibility'.
"Your idea" related to not let browser load invisible images, not to the css property itself. :wink:
Sorry if that was a bit unclear.

In your "concept" of a browser not loading invisible images, this should only affect images, that were set to `display: none;`.
`visibility: hidden;` should not be affected by this (see my exam

[2016-11-03 13:23] aFarkas commented on #243
@RicoBrase @jeremyzahner
I couldn't fully follow your discussion. But the idea of controlling which image candidate should be loaded or not by the browser via CSS is dead. If it would be a wise idea, some parts of the responsive image markup API (`media` and especially the `sizes` attribute) would be    redundant  and badly designed. But they are not.

You can also read these:
https://ericportis.c

[2016-11-03 13:54] RicoBrase commented on #243
@aFarkas
Yeah, as I said:

[2016-11-03 14:48] BenRacicot commented on #243
I like the arguments here. It seems the opinions are split. However I'm still not seeing the complete logic where `picture`, `sourceset` or `src` has no function to ignore an image call. Yet `picture` even defers its source to the next higher size (as I've brought out in my comment above).

@aarongustafson About content vs context: I agree and believe that the developer is responsible for this. Wh

[2016-11-03 15:00] yoavweiss commented on #243
I think the first step here is deciding that avoiding to display an image in certain viewports is a valid use-case. That use-case can now be served by adding a valid data-URI as the `srcset` value for the corresponding `<source>`, but I think it'd be better to enable first class support for that use-case. From reading this thread, it seems like the majority of people here are of similar opinion.

[2016-11-03 15:15] zcorpan commented on #243
I would like to check if this use case is served well-enough by adding declarative lazy loading (and for such images, not load at all when they are `display:none`).

[2016-11-03 15:31] jeremyzahner commented on #243
@RicoBrase @aFarkas Maybe I lost it a little playing the devils advocate here. I totally agree on @yoavweiss' claim that we should agree on the use-case beeing present. I think it is.

[2016-11-03 15:58] RicoBrase commented on #243
@zcorpan
That would probably be sufficient, but - IMO - it's way more intuitive to either use an empty `src` or `srcset` attribute (or add an additional `no-src` opt-in attribute), just as @yoavweiss said.

Method 1: If a web designer/developer (or a newbie in this topic) first hears about the `picture` tag and had to guess, how to prevent the loading of an image on specific devices, he/she would

[2016-11-03 17:01] aFarkas commented on #243
@zcorpan

This would also mean, that this pattern shouldn't be used in those cases, where the image is a "hero image" or otherwise initially in view and important for the first layout impression.

plus: If you open the auto sizes pandora box it will be used - always.

[2016-12-28 09:58] zcorpan commented on #85
https://lists.w3.org/Archives/Public/public-respimg/2016Nov/0000.html (thread continues in December)

[2017-03-24 14:21] nhoizey commented on #243
I got a use case recently, where a site owner would like to show some complex diagrams on viewports large enough, but provide only a download link on smaller ones.

A `source` with an empty `srcset` (or no `srcset` at all maybe) seems to be the best approach IMHO, as it doesn't seem to break anything already implemented or used.

[2017-03-24 14:27] aarongustafson commented on #243
Another great use-case @nhoizey!

@Wilto?

Also, it seems like, as a container, a `picture` with no supported `source` might fall back to the inner content, right? That’s the recommended behavior of `video` & `audio`.

[2017-03-27 19:39] tabatkins commented on #243
Nope, the contents of `video` and `audio` are *soley* for downlevel clients that don't understand the tags at all; they're intended to let you put an `object` pointing to a SWF equivalent.  They don't provide a11y or "fallback" contents at all; the contents are never exposed in supporting clients.

(I just had to look this up for a CSS thing; I was under the same mistaken impression you were last

[2017-03-27 20:04] aarongustafson commented on #243
@tabatkins I was getting together a demo on CodePen late last week and realized that was the case. The empty `video` element when no source is supported kinda sucks. Seems like it might be worth revisiting at some point.

[2017-03-28 07:55] alexcracea opened #275 "IE11 <picture> rendered by JS"
Good day,
Interesting thing that although <picture> is said to not be supported by IE11, it renders fine.
The issue I experenced is only when my picture is not on the page from the beginning but added through JS or any AJAX handlings. The picture is not being visible untill you resize the window in that case.

[2017-03-28 08:28] zcorpan commented on #275
Hello! That's nice but this does not seem like an issue with the specification, right?

[2017-03-28 08:28] #275 closed

[2017-03-29 05:48] elyobo commented on #262
~This doesn't really make sense to me; the default for `sizes` is `100vw` but isn't that only used to select the image to download?  Why does that have any bearing on the width that it's actually rendered at?~

Never mind; seems unintuitive, but I see that this is indeed the expected behaviour (according to [MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#attr-sizes) anyway, not

[2017-03-29 13:31] eeeps commented on #262
@elyobo

1. `w`s get divided by `sizes` and normalized into “pixel density descriptors” (like 1x, 2x...) https://html.spec.whatwg.org/multipage/embedded-content.html#normalizing-the-source-densities
2. The resources’ actual width in data-pixels is divided by the density to determine the “density-corrected intrinsic width” of the image in CSS pixels. https://html.spec.whatwg.org/multipage/embedded-

[2017-03-29 21:20] elyobo commented on #262
Thanks for those links @eeeps, much appreciated.

[2017-08-29 06:31] zcorpan commented on #86
Let's continue this discussion in https://github.com/whatwg/html/issues/2973

Links to sites that would benefit from this, so a solution can be evaluated against real-world cases, would be very useful.

[2017-08-29 06:31] #86 closed

[2017-08-30 19:56] styfle commented on #255
What's the status on SRI?

[2017-08-31 17:36] zcorpan commented on #255
`integrity` exists on `link` and `script` only currently.

https://html.spec.whatwg.org/multipage/semantics.html#attr-link-integrity
https://html.spec.whatwg.org/multipage/scripting.html#attr-script-integrity

http://caniuse.com/#search=integrity shows implementation status.

I'll let @mikewest comment on whether there are other developments with SRI.

[2017-11-24 09:02] vipickering commented on #243
I've just had the same requirement from a client as many of you here. Save bandwidth on mobile by removing images, but include them on larger screens where the connection is faster.

@tabatkins  @aarongustafson @nhoizey @yoavweiss @zcorpan
Reading through all the posts I think my preferred opinion and logic would be to use a nosrc flag on the image tag. This should prevent breaking backwards compa

[2017-11-29 15:54] RicoBrase commented on #243
@vipickering Just to summarize your idea:

1. use `srcset` to display image according to display size
2. use `nosrc` to display no image, either if especially told so or if current display size doesn't fit the rules  in `srcset` or `sizes`
3. fallback to `src`, if browser doesn't support `nosrc` and `srcset`, or if `nosrc` and `srcset` aren't present
4. fail/error, since no `src` tag is present, b

[2017-11-29 16:42] BenRacicot commented on #243
@RicoBrase I agree with your two breakdowns of empty `src` vs a `nosrc` type attribute.

I can't help but cringe a little when I see the attribute concept. Albeit it gets the job done. However, an empty `src` makes sense out of the box. I stand by my initial comment that I'm surprised that `src=""` loads nothing without error isn't the default. I hope my input is helpful.

[2017-12-04 09:26] RicoBrase commented on #243
@BenRacicot True. I fully agree.

An empty `srcset` attribute on the `source` elements within an `picture` element is clearly the most intuitive way.

[2018-03-07 11:26] nhoizey commented on #243
@vipickering I don't understand this example:

[code]

When would the `nosrc` be relevant here, considering any viewport width can match one of the `sizes` values?

Maybe this would be more relevant, to load no image on viewports `< 320px`, using `min-width` and no fallback size, only sizes with media queries:

[code]

Anyway, I find it not so self-explanatory to have another attribute "outside" t

[2018-12-04 14:56] Firas-kodmany commented on #273
Thank you for this useful article
team work
[IMDB ARABIC](http://www.imdb-arabic.com)

[2019-03-19 12:31] nhoizey commented on #273
A few years later, I indeed have a few projects where I use `<picture>` to send more compressed images to screens with density `3dppx` and more, like in @aFarkas’ first example.

It looks like @eeeps will convince me to even do it down to `2dppx`: https://twitter.com/etportis/status/1107768548435218432

I'm not sure we can do it with something better than `<picture>`, but I wanted to confirm the u

[2019-03-19 12:35] yoavweiss commented on #273
@nhoizey have you seen the discussion on https://github.com/whatwg/html/issues/4421?

[2019-03-19 12:43] nhoizey commented on #273
@yoavweiss I didn't, thanks a lot!

I guess this issue can be closed, then?

[2019-03-19 12:58] yoavweiss commented on #273
I think the discussion here is looking to somehow annotate high DPR images as "compressive". While related, the discussion on https://github.com/whatwg/html/issues/4421 does not do exactly that.

[2019-03-19 13:15] nhoizey commented on #273
You're right, not exactly the same indeed.

[2019-09-03 09:30] willstocks commented on #260
Hey guys - was anything ever finalised on this? I found myself trying to implement a lowres/LQIP `<picture>` placeholder the other day but couldn't work out how! Finding this, it seems it's not necessarily possible currently?

[2019-09-03 19:53] eeeps commented on #260
@willstocks nothing has been done here (yet) on the spec side of things; there's still no native way to serve a low-quality image placeholder.

You can still use `picture` and Javascript, though: https://codepen.io/eeeps/pen/KKPyPvy

[2019-10-08 15:48] Malvoz commented on #260
There's a WHATWG issue for placeholders here: https://github.com/whatwg/html/issues/3631.

[2021-02-13 01:48] eballeste commented on #243
My use case for this are decorative image hover states seen only on desktop browsers. I don't want mobile browsers loading these images unnecessarily so yes, I'm using `display: none` but also using the next best thing to not loading anything at all, a 1x1 pixel, base64 encoded transparent gif as a srcset:

[code]

[2021-03-03 06:00] vipickering commented on #243
@nhoizey so this is strange, I haven't been getting mentions on this issue for some reason and 4 years later I randomly get one!

What your proposing looks good to me :-)

[2021-03-03 13:28] nhoizey commented on #243
@vipickering this is "only" 3 years later. I know we're all looking forward to a new year without this pandemic… 😅

[2021-05-04 12:59] zcorpan commented on #254
@iandevlin did you (or someone else) write a polyfill?

There's a new issue about this here: https://github.com/whatwg/html/issues/6627

[2021-12-15 13:52] MajPay commented on #85
I am a little disappointed this is still a thing, wanted to replace an old responsive-lazy-image implementation i wrote with a standard loading="lazy" method, just to find out it cant accomplish different aspect ratios.

Why cant it simply be like this:

[code]

So the matched source would be able to override the existing widht/height attribute?

I cant see any problem with that and it would be mu

[2021-12-16 14:07] yoavweiss commented on #85
See https://github.com/whatwg/html/commit/c2d1a367935ef43ee38d6ed76086277558e4ac7b

[2021-12-20 08:01] MajPay commented on #85
Awesome!

Chromium already returns "number" on this assertions: `typeof document.createElement('source').width`

Firefox seems to lack support for width/height as well as aspectRatio though...

Looking forward to this, thanks for your reply.

[2021-12-20 08:28] MajPay opened #276 "Add container property to source Element to keep up with CSS @container-queries"
Currently - the media property of source elements gives you the ability to control which source the browser should pick from a larger set of possible sources. This way - as a web-designer - you try to achieve responsive image Implementations.

CSS @media-queries were nice when they were first introduced, but they soon turned out to not be sufficient for real-world web apps. So the logical successo

[2022-05-01 16:07] nhoizey commented on #243
One year later, how can we make progress on this?

Reading the thread once again, I noticed the `sizes` attribute in [my answer](https://github.com/ResponsiveImagesCG/picture-element/issues/243#issuecomment-371109093) to @vipickering was in the wrong order… 😅

It should be like this:

[code]

Anyway, I now have a use case when the `x` descriptor would be better than the `w` one, because on large v

[2022-05-01 16:37] BenRacicot commented on #243
Hello everyone, yes I am still monitoring this as well. What steps can we make to get this into an official spec proposal?

[2022-05-01 19:23] zcorpan commented on #243
Filing a new issue with a summary at whatwg/html seems like a good next step.

[2022-05-02 05:57] yoavweiss commented on #243
Also, an HTTPArchive analysis that shows that this won't impact existing content negatively can go a long way to ensure us this is safe to do.